/*
    Esta foha de estilo replica estilos utilizados no appLider
    qualquer modificação nele deve ser duplicada no aplicativo.
*/
/* 
    Created on : 25/04/2017, 13:41:27
    Author     : paulo
*/

:root{
}

.description{
    padding: 25px 0 0 0;
    margin: 5px;
    font-family: Verdana, Arial;
    font-size: 15px;
}
.description .stripe{
    display: flex;
    justify-content: center;
    flex-direction: row;
    top: 14px;
    position: relative;
    width: 70%;
    padding: 0;
    margin: 5px 0 0 auto;
}
.description .stripe div{
    min-height: 100%;
    flex: 1;
}
.description .stripe div:nth-child(1){
    max-width: 60px;
 
}
.description .stripe div:nth-child(2){
    padding: 5px;
}
.description .stripe div:nth-child(3){
    max-width: 50px;
    text-align: right;
}
.description .stripe div:nth-child(4){
    max-width: 40px;
    text-align: right;
    background-color: transparent;
}
.description .stripe div:nth-child(3) div{
    display: block;
    position: absolute;
    margin: -40px 0px;
    width: 90px;
    max-width: 90px;
    height: 90px;
    padding: 0;
    background-size: 100% 100%;
}
.description.ok .stripe div:nth-child(3) div{
    background-image: url("../images/app_lider/ico_GuiaLider.svg");
}
.description.alert .stripe div:nth-child(3) div{
    background-image: url("../images/app_lider/ico_Alert.svg");
}

.description .box{
    padding: 45px 20px 20px 20px;
    border-radius: 5px;
}
.description.ok .box{
    background-color: #CAE6DA;
}
.description.alert .box{
    background-color: #FBE9A7;
}
.description .stripe div{
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center right;
}
.description.ok .stripe div:nth-child(1) {
    background-color: transparent;
    background-image: url('../images/app_lider/stripeEnd_ok.svg');
}
.description.ok .stripe div:nth-child(n+2):nth-child(-n+3) {
    background-color: #6FBEA1;
    color: #fff;
}
.description.alert .stripe div:nth-child(1) {
    background-color: transparent;
    background-image: url('../images/app_lider/stripeEnd_alert.svg');
}
.description.alert .stripe div:nth-child(n+2):nth-child(-n+3) {
    background-color: #AF2930;
    color: #fff;
}

pci-artifact{
    display: inline-block;
    padding: 10px;
    background-color: black;
    color: white;
    user-select: none;
    font-size: 12px;
    width: 75px;
}
