@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.content {
   font-family: 'Roboto', sans-serif !important;
width: 80%;

   margin: auto;
}

.input {
    height: 40px;
    font-size: 13pt;
    width: 100%;
    max-width: 500px;
    padding: 5px;
}

.content-itens {
   max-width: 550px;
   line-height: 27px;
}

.mensagem {
    width: 100%;
    height  : 150px;
    padding: 5px;
}

.botao-enviar {
   font-size: 15px;
   padding: 10px; 
   width: 100px;
background-color: #1d9bdc;
   border-radius: 10px;
   color: white;
   border: none !important;
}

.botao-enviar:hover {
background-color: #67b3db;

}

.perguntas-frequentes {
   width: 250px;
   float:right;
   padding: 10px;
   background-color: #d7f0b3;
   margin: 20px;
   border-radius: 10px;
   margin-top: 40px;
}

.perguntas-frequentes a {
   color: #4d6b23;
   font-size: 19px;
   text-decoration: none;
}

.perguntas-frequentes:hover {
   background-color: #9bbf68;
   color: #d7f0b3;
}

.perguntas-frequentes a:hover {
   font-size: 19px;
   text-decoration: none;
   color: #d7f0b3;
}
.error{
    color: red;
    margin: 5px;
}
.label{

    margin: 10px;
}
.sucess{
    margin: 10px;
    padding: 20px;
    background-color: #D6F1B3;
    text-align: center;
}
  