.tableList{
    
    border-spacing: 0;
    border-collapse: collapse;
}
table.tableList tr:nth-child(even){
    background-color: #f5f5f5;
}
table.tableList tr:hover{
    background-color: #FEFFE0;
}
.tableList thead th {
    background-color: #f5f5f5;
    background-image: none;
    padding: 5px;
}
table.tableList tbody td {
    padding: 10px 5px;
    background-color: transparent;
}
.listSearch, .listSearch *{
    box-sizing: border-box;
}
.listSearch th{
    background-color: inherit;
    vertical-align: top;
}
.listSearch input, .listSearch select{
    width: 100%;
    padding: 5px;
}
.box{
    position: relative;
}
#loading{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
    background-color: rgba(255,255,255,0.7);
    z-index: 10;
}
.multiSelect *{
    box-sizing: border-box;
}
.multiSelect .wdl{
    display: none;
}
.multiSelect div{
    width: 100% !important;
    border: 0 none transparent;
    background-color: transparent;
    width: 100%;
    margin: 0;
    padding: 0;
}
.multiSelect input{
    width: 100% !important;
    padding: 5px;
    border: none;
    outline: 1px solid #ccc;
}
.multiSelect input:focus{
    padding: 5px;
    margin: 0;
    border: none;
    outline: 1px solid #ccc;
}

tr.listSearch .multiSelect div{

}

#location .box.highlight{
    background-color: transparent !important;
    border: 0 none transparent;
    padding: 0;
}
#location span input{
    width: 100% !important;
    margin: 0;
    border-style: solid solid none solid;
    border-width: 1px;
    border-color: #ccc;
}

#location div{
    border: none;
}
#location .wdl.label{
    font-size: 0;
    width: 0;
    padding: 0;
    margin: 0;
}
#location *{
    box-sizing: border-box;
}

#location span div{
    padding: 5px 2px;
    cursor: pointer;
}
#location span div:hover{
    background-color: #f9f9e0;
}
#container_location_id, #container_location_id > div{
    width: 100% !important;
}
#filters{
    padding: 10px;
    background-color: #ffffe0;
}
#filters dt, #filters dd{
    display: block;
    width: 50%;
    margin: 0 auto;
}
#Filtrar-element{
    text-align: right;
}

.ico{
    width: 20px;
    max-width: 20px;
    min-width: 20px;
    height: 20px;
    max-height: 20px;
    min-height: 20px;
    cursor: pointer;
}
#loadingPartial{
    display: none;
    position: static;
    padding: 10px;
    text-align: center;
    color: #fff;
    animation: progress 1s ease-in infinite;
}
#searchComplete{
    display: none;
    position: static;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #4C8446;

}
.hide{
    display: none;
}

@keyframes progress {
  
  0% {background-color: #a2a32d;}
  50% {background-color: #d08955;}
  100% {background-color: #a2a32d;}
}
