#corpo{
  margin              : 0px;
  color               : #555;
  font-family         : Arial;
  font-size           : 12px;
  background          : #ADC387;
}

#corpo a, #corpo a:visited, #corpo a:active{
  color               : #fff;
}

#corpo a:hover{
  text-decoration     : none;
  color               : #fff;
}

#corpo a img{
  border              : 0px;
  text-decoration     : none;
}

#corpo a img.imgLinkSmall, #corpo img.imgLinkSmall{
  width               : 15px;
}

#carregando{
  text-align          : center;
  border              : solid 1px #ccc;
  background-color    : #efefef;
  color               : #555;
  padding             : 10px;
}

#carregando{
  position            : fixed;
  left                : 45%;
  top                 : 40%;
}

#head{
  padding             : 10px 0px 0px 0px;
  border-bottom       : solid 0.5px #ccc;
  background-color    : #2F462B;
  color               : #fff;
  min-height          : 110px;
}

#head_logo{
  width               : 85%;
  margin              : 0 auto;
  background          : #2F462B url(../images/topBar.png) no-repeat 0 0px;
  height              : 78px;
}

#head_logo h1{
  display             : none;
}

#format{
  padding             : 1em;
}

#formatContent{
  display             : block;
}
#loginWrapper{
	display: flex;
	width: 100%;
	padding: 0;
	background-color: #efefef;
	border-radius: 5px;
	border: 1px solid #cbcbcb;
}
#corpo #head{
	background-image: none;
}
#loginWrapper div{
	flex: 1;
}
#loginWrapper #si{
	min-width: 130px;
	flex: 0 1;
	background-color: #dedede;
}
#si{
	padding: 15px;
	text-align: left;
}
#corpo #si a{
	color: #2F462B;
}
#corpo #si ul{
	padding: 10px;
}
#div-login{
    width                   : 450px;
    height                  : 300px;
    margin                  : auto;
    vertical-align          : middle;
    text-align              : center;
}
#lang_links{
	margin: 0 auto;
	text-align: center;
}
#lang_links a{
	display: block;
	float: none;
	margin: 1px auto;
	width: 200px;
}
#lang_links a:hover{
	background-color: #43633d;
}

#div-login fieldset.fieldsetFormulario{
    text-align              : left;
    margin: 0;
    border-style: none solid none none;
    border-radius: 0;
}

fieldset.fieldsetFormulario{
  border                : solid 1px #ccc;
  background-color      : #efefef;
  -moz-border-radius    : 1em;
  -webkit-border-radius : 1em;
  -khtml-border-radius  : 1em;
  border-radius         : 1em;
  margin                : 5px;
}

fieldset.fieldsetFormulario div.form-errors{
    padding                 : 5px;
    color                   : #c00;
    font-weight             : bold;
}

input[type=text], input[type=password], select, textarea{
  border              : solid 1px #ccc;
  color               : #575;
}

input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus{
  background-color    : #ffffef;
  color               : #373;
}

button, input[type=button], input[type=submit], input[type=reset]{
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;
  -khtml-border-radius  : 3px;
  border-radius         : 3px;
  background-color      : #2F462B;
  border-top            : solid 1px #2F462B;
  border-left           : solid 1px #2F462B;
  border-right          : solid 1px #555;
  border-bottom         : solid 1px #555;
  color                 : #FFFFFF;
}

button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover{
  background-color      : #3F773F;
  border-top            : solid 1px #555;
  border-left           : solid 1px #555;
  border-right          : solid 1px #2F462B;
  border-bottom         : solid 1px #2F462B;
}
/** FORMULÁRIOS - FIM **/

ul.errors{
    list-style-type     : none;
    color               : #c00;
}

.botao{
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 4px;
  background: #2F462B;
}
