/** TOP BAR **/
#head{
  background          : #1F578C url(../images/logo-ppi.png) no-repeat fixed 0 0px;
}

div #quickMenu{
  background          : #003993 url(../images/navcontainer2-colombia.png) repeat-x scroll 0 0px;
}

div #quickMenu ul li:hover{
  background          : #C3CCE6 url(../images/navcontainer3-colombia.png) repeat-x scroll 0 0px;
}

div#quickMenu ul li a, div#quickMenu ul li a:visited, div#quickMenu ul li a:active, div#quickMenu ul li a:hover{
  color               : #fff;
}
/** TOP BAR - FIM **/

/** CORES DO SISTEMA **/
#menu h4, button, input[type=button], input[type=submit], input[type=reset]{
  background-color    : #1F578C;
}

.tableList tbody tr:hover{
  background-color    : #C3CCE6;
}

input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus, #menu ul li:hover, button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover{
  background-color    : #C3CCE6;
}

input[type=text], input[type=password], select, textarea ,input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus{
  color               : #003993;
}
/** CORES DO SISTEMA - FIM **/

/** MAPA **/
#mapaMenu{
    background-color    : #1F578C;
}
/** MAPA - FIM **/