/** TOP BAR **/
#head{
  background          : ##2697C1 url(../images/logo.png) no-repeat fixed 0 0px;
}


div#topBar{
  background          : #004EA3 url(../images/bandeira-Honduras.png) no-repeat fixed 68px 0px;
}

div #quickMenu{
  background          : #2697C1 url(../images/navcontainer3-Honduras.png) repeat-x scroll 0 0px;
}

div #quickMenu ul li:hover{
  background          : #2697c1 repeat-x scroll 0 0px;
}

div#quickMenu ul li a, div#quickMenu ul li a:visited, div#quickMenu ul li a:active, div#quickMenu ul li a:hover{
  color               : #fff;
}
/** TOP BAR - FIM **/

/** CORES DO SISTEMA **/
#menu h4, button, input[type=button], input[type=submit], input[type=reset], #teste{
  color: #000000;
  background-color    : #2697C1;
}

.tableList tbody tr:hover{
  background-color    : #C3CCE6;
}

.ui-corner-all > a{

    color: black !important;
}

.ui-state-hover a,
.ui-state-active a{

    color: black !important;
    font-weight: bold;
}

/** CORES DO SISTEMA - FIM **/
