/** TOP BAR **/
div#topBar{
  background          : url(../images/bandeira-bolivia.png) no-repeat fixed 68px 0px;
}

div #quickMenu{
  background          : url(../images/navcontainer2-bolivia.png) repeat-x scroll 0 0px;
}
