/** TOP BAR **/
#head{
  background          : #FE0000 url(../images/logo.png) no-repeat fixed 0 0px;
}


div#topBar{
  background          : #FE0000 url(../images/bandeira-angola.png) no-repeat fixed 68px 0px;
}

div #quickMenu{
  background          : #FE0000 url(../images/navcontainer2-angola.png) repeat-x scroll 0 0px;
}

div #quickMenu ul li:hover{
  background          : #C3CCE6 url(../images/navcontainer3-angola.png) repeat-x scroll 0 0px;
}

div#quickMenu ul li a, div#quickMenu ul li a:visited, div#quickMenu ul li a:active, div#quickMenu ul li a:hover{
  color               : #fff;
}
/** TOP BAR - FIM **/

/** CORES DO SISTEMA **/
#menu h4, button, input[type=button], input[type=submit], input[type=reset], #teste{
  color: #000000;
  background-color    : #FE0000;
}

.tableList tbody tr:hover{
  background-color    : #C3CCE6;
}

input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus, #menu ul li:hover, button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover{
  background-color    : #C3CCE6;
}

input[type=text], input[type=password], select, textarea ,input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus{
  color               : #FE0000;
}

.ui-corner-all a{

    color: #000 !important;
}

.ui-state-hover a{

    color: #CC0404 !important;
}

/** CORES DO SISTEMA - FIM **/
