/** TOP BAR **/
div#topBar{
  background            : url(../images/bandeira-brasil.png) no-repeat fixed 68px 0px;
}
/** TOP BAR - FIM **/

/** MAPA **/
#mapaMenu{
    background-color    : #2F462B;
}
/** MAPA - FIM **/