form{
    margin: 0;
}
#corpo{
  margin              : 0px;
  color               : #000;
  font-family: Arial, serif;
  font-size           : .65vw /** Padrão para fullhd **/
}

@media screen and (max-width: 1440px) {
    #corpo{
        font-size           : 12px;
    }
}

div#topbar{
    position: relative;
}
#menu_box{
    color: #fff;
    background-color: #505050;
    font-weight: bold;
    text-align: center;
    padding: 0 15px;
}

#corpo a:hover{
  text-decoration     : none;
}

#corpo a img{
  border              : 0px;
  text-decoration     : none;
}

#corpo a img.imgLinkSmall, #corpo img.imgLinkSmall, #corpo input[type=image].imgLinkSmall{
  width               : 15px;
}

#corpo a img.imgLinkSMedium, #corpo img.imgLinkSMedium, #corpo input[type=image].imgLinkSMedium{
  width               : 30px;
}

#corpo a img.imgPicSmall, #corpo img.imgPicSmall, #corpo input[type=image].imgPicSmall{
/*  width               : 60px;
  height              : 70px;*/
 max-width             : 70px
}
#corpo a img.imgPicBig, #corpo img.imgPicBig, #corpo input[type=image].imgPicBig{
  max-width             : 400px
}
#corpo a img.imgLink{
  width               : 15px;
}
#formSessionCulture{
    margin: 0;
}

.inputWithImg{

    background-color: #fff;
    float: right;
}

.inputWithImg input{

    padding: 0 2px;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    height: 17px;
    float: left;
}

.inputWithImg img{

    border: 0 !important;
    padding: 0 2px !important;
    height: 17px;
    width: 17px;
    float: right;
    background-color: #fff;
    border-right-width: 0px;
}

#carregando{
  text-align          : center;
  border              : solid 1px #ccc;
  background-color    : #efefef;
  color               : #555;
  padding             : 10px;
  z-index             : 10000;
}

#carregando{
  position            : fixed;
  left                : 45%;
  top                 : 40%;
}

/** TOP BAR **/
#head{
  color               : #fff;
  background          : #2F462B url(../images/logo.png) no-repeat fixed 0 0px;
  padding             : 0px 0px 0px 68px;
  height              : 55px;
}

div#topBar{
  padding             : 0px 10px;
  text-align          : right;
  height              : 30px;
}

div#topBar .topBarItem{
  margin-left         : 20px;
}

div#topBar .topBarItem#topBarItemInfoUsuario img, div#topBar .topBarItem#topBarItemActions img{
  width               : 13px;
  margin-bottom       : -1px;
}

div#topBar .topBarItem#topBarItemi18n img{
  width               : 24px;
  margin-top          : 3px;
}

div#topBar .topBarItem#topBarItemActions a{
  text-decoration     : none;
  color               : #fff !important;
  font-weight         : bold;
}

div#quickMenu{
  background          : #2F462B url(../images/navcontainer2.png) repeat-x scroll 0 0px;
  height              : 25px;
}

div#quickMenu ul{
  list-style-type     : none;
  padding             : 2px 0px 0px 0px;
  margin              : 0px;
  white-space         : nowrap;
}

div#quickMenu ul li{
  margin              : 0px;
  display             : inline;
  padding             : 2px 10px 9px 10px;
}

div#quickMenu ul li a, div#quickMenu ul li a:visited, div#quickMenu ul li a:active, div#quickMenu ul li a:hover{
  text-decoration     : none;
  color               : #fff;
  font-weight         : bold;
}

div#quickMenu ul li:hover{
  background          : #2F462B url(../images/navcontainer3.png) repeat-x scroll 0 0px;
}

div#topBar select#sessionCulture{
  width               : 150px;
}
/** TOPBAR - FIM **/

/** MENU DE ACESSO **/
#menu{
  float               : left;
  width               : 200px;
  margin-right        : 10px;
}

#menu .menuBloco{
  margin-bottom       : 10px;
}

#menu h4{
  background-color    : #2F462B;
  color               : #efefef;
  margin              : 0px;
  padding             : 3px 0px;
  text-align          : center;
}

#menu ul{
  padding             : 0px;
  margin              : 0px;
}

#menu ul li{
  list-style-type     : none;
  padding             : 3px 10px;
  border-top          : solid 0px #ccc;
  border-left         : solid 1px #ccc;
  border-right        : solid 1px #ccc;
  border-bottom       : solid 1px #ccc;
}

#menu ul li a{
  text-decoration     : none;
}

#menu ul li:hover{
  background-color    : #BECE9F;
}

#menu ul li:hover a{
  color               : #555;
}

li.ui-state-default a{
    color               : #ccc !important;
}

li.ui-tabs-selected a{
    color               : #555 !important;
}
/** MENU DE ACESSO - FIM **/

#format{
    background-color    : #fff;
    padding             : 1em;
    min-height: calc(100vh - 105px);
}

#formatContent{
  display             : block;
}

/** IMPRESSÃO **/
/*
#head-print{
    color             : #555;
    display           : block;
    background-color    : #f0f;
}

#head-print h1{
    float             : left;
}

#head-print img{
    float             : right;
}

#format-print{
    display           : block;
    margin-top        : 200px;
}
*/

#head-print{
    background          : url('/images/logo-grayscale.png') no-repeat 3px 0px;
    height              : 54px;
    color               : #555;
    padding             : 1px 0px 1px 75px;
    margin              : 5px 0px 10px 0px;
}
/** IMPRESSÃO - FIM **/

/** PÃGINA INICIAL DO USUÃRIO **/
.fieldsetHomeInfo{
  border                : solid 1px #ccc;
  background-color      : #efefef;
  -moz-border-radius    : 1em;
  -webkit-border-radius : 1em;
  -khtml-border-radius  : 1em;
  border-radius         : 1em;
  margin                : 5px;
}
/** PÃGINA INICIAL DO USUÃRIO - FIM **/

/** INSTRUÃÃES **/
div.blocoInstrucoes{
    background          : url('/images/icons/info.png') no-repeat 10px 5px;
    color               : #555;
    border              : solid 1px #ccc;
    padding             : 5px;
}

div.blocoInstrucoes h1, div.blocoInstrucoes h2, div.blocoInstrucoes h3{
    margin-left         : 50px;
    font-size           : 12px;
}

div.blocoInstrucoes p{
    line-height         : 17px;
}
/** INSTRUÃÃES - FIM **/


/** CONFIRMAÃÃES E ERROS **/
div.confirmBlock{
    background          : #ffffef url('/images/icons/apply.png') no-repeat 10px 5px;
    border              : solid 1px #0c0;
}

div.errorBlock{
    background          : #ffffef url('/images/icons/cancel.png') no-repeat 10px 5px;
    border              : solid 1px #c00;
}


div.confirmBlock, div.errorBlock{
    color               : #555;
    padding             : 5px;
    margin              : 5px 0px;
}


div.confirmBlock h1, div.errorBlock h1, div.confirmBlock h2, div.errorBlock h2, div.confirmBlock h3, div.errorBlock h3{
    margin-left         : 50px;
    font-size           : 12px;
}

div.confirmBlock p, div.errorBlock p{
    line-height         : 17px;
}
/** CONFE ERROS - FIM **/

/** FORMULÃRIOS **/
fieldset.fieldsetFormulario, .fieldsetFiltros, .fieldsetLegenda{
  background-color      : #efefef;
  border                : solid 1px #ccc;
  -moz-border-radius    : 1em;
  -webkit-border-radius : 1em;
  -khtml-border-radius  : 1em;
  border-radius         : 4px;
  margin                : 5px 0px;
}

fieldset.fieldsetListagemCompleta{
    background-color    : #f3f3f3;
}

.fieldsetFormulario .fieldsetFormulario,
.fieldsetFormulario fieldset{
  border                : solid 1px #ccc;
  background-color      : #efefef;
  -moz-border-radius    : 1em;
  -webkit-border-radius : 1em;
  -khtml-border-radius  : 1em;
  border-radius         : 4px;
  margin                : 5px 0px;
  background-color      : #ccc;
  border                : solid 1px #999;
}

.fieldsetFormulario .fieldsetFormulario, fieldset fieldset{
  background-color    : #ccc;
  border              : solid 1px #999;
}

.fieldsetFormulario .fieldsetFormulario .fieldsetFormulario, fieldset fieldset fieldset{
  background-color    : #efefef;
  border              : solid 1px #999;
}

fieldset fieldset input[type=text], fieldset fieldset input[type=password], fieldset fieldset select, fieldset fieldset textarea{
  border              : solid 1px #999;
}

.fieldsetFormulario legend, fieldset legend{
  font-weight         : bold;
  margin-left         : 10px;
}

.fieldsetFiltrosOcultar{
  text-align          : right;
}

.fieldsetFiltros dl{
  padding-bottom      : 3px;
  display             : table;
}

.fieldsetFiltros dl dt{
  font-weight         : bold;
  display             : table-row;
}

.fieldsetFiltros dl dd{
  display             : table-cell;
}

.formLine, .formLineInline{
  padding             : 5px;
  margin              : 5px 0px;
}

div.formTwoColumns{
        display                : table;
        width                  : 100%;
}

div.formTwoColumns div.formTwoColumnsRow{
        display                : table-row;
}

div.formTwoColumns div.formTwoColumnsRow div.formTwoColumnsCell{
        display                : table-cell;
}

div.formTwoColumns div.formTwoColumnsRow div.formTwoColumnsCell table{
        width                  : 100%;
}

.zend_form{
  margin              : 0px;
  padding             : 0px;
}

.zend_form ul.errors{
  list-style-type     : none;
}


.zend_form ul.errors li{
  color               : #c00;
}

.formLabel, .formLabelInline, dl.zend_form dt{
  padding             : 0px 0px 5px 2px;
  font-weight         : bold;
}

.formRequired{
    color               : #c00;
    font-weight         : bold;
    margin-right        : 5px;
}

.formError{
    color               : #c00;
}

dl.zend_form dt{
  margin-top          : 10px;
}

.formLabelRequired{
  color               : #c00;
}

.formValue, .formValueInline, dl.zend_form dd{
  margin-left         : 0px;
  padding             : 0px 0px 0px 10px;
  white-space         : nowrap;
}

.formTable, .formLineTableBlock{
  display             : table;
  width               : 100%;
}

.formLineInline, .formTableRow, .formLineTableRow{
  display             : table-row;
}

.formLineTableCell{
    display             : table-cell;
    padding             : 3px;
}

.formLineTableCellTitle{
    font-weight         : bold;
}

.formLabelInline, .formValueInline, .formTableCell{
  display             : table-cell;
  padding-bottom      : 3px;
}

.formTableCellTitle{
  background-color    : #EFEFEF;
  border-bottom       : 0 none;
  color               : #777777;
  font-weight         : bold;
  padding             : 5px;
}

.formTableTitle{
    background-color    : #efefef;
    border-bottom       : solid 1px #ccc;
    padding             : 5px;
    font-weight         : bold;
    color               : #555;
}

.formLabelInline{
  width               : 90%;
}

.formValueInline{
  width               :40%;
}

.formLineInline:hover{
  background-color    : #ffd;
}

.formLineSubmit{
  text-align          : right;
  padding             : 3px 5px;
}

.alignRight{
  text-align          : right;
}

.formLineSubmit a, .formLineSubmit a:active, .formLineSubmit a:visited{
    border              : solid 1px #999;
    padding             : 5px;
    background-color    : #efefef;
    text-decoration     : none;
}

.formLineSubmit a:hover{
    background-color    : #fff;
}

.formLineSubmit a img{
    margin-top          : 3px;
}

.fieldsetFiltros .formLineSubmit{
  text-align          : left;
}

.labelBooleanTrue, .labelBooleanFalse{
  padding             : 5px 7px 1px 5px;
  margin-left         : -3px;
}

input[type=radio]{
  border-width        : 0px;
}

.labelBooleanTrue{
  background-color    : #5c5;
  color               : #5c5;
}

.labelBooleanFalse{
  background-color    : #c55;
  color               : #c55;
}

label{
  margin-left         : 5px;
}

input[type=text], input[type=password], select, textarea{
  padding: 3px;
  border              : solid 1px #ccc;
  /*color               : #575;*/
}

input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus{
  background-color    : #C3CCE6;
}

input[type=image].imageSubmitSearch{
  width               : 15px;
}

.listaAssociacao ul li{
  list-style-type       : none;
}

div.formFilterTable{
  display               : table;
  width                 : 100%;
}

div.formFilterTableRow{
  display               : table-row;
}

div.formFilterTableCell{
  display               : table-cell;
  border                : solid 1px #ccc;
}

div.formFilterTableCellTitle{
  background-color      : #efefef;
  color                 : #777;
  font-weight           : bold;
  padding               : 5px;
  border-bottom         : 0px;
}

img.imgPeople{
    max-height          : 60px;
    margin-right        : 10px;
}

.headerMenu{
    background-color:#ffffe0;
    padding: 15px;
    border: 1px solid #dad266;
    text-align: center;
}
.headerMenu a{
    display: inline-block;
    margin: 5px 15px;
    text-decoration: none;
    color: #000;
}
.highlight{
    background-color    : #888a85 !important;
}

.highlight .label{
    color               : #fff;
}

.limbo{
    border: 2px solid #A54F7E !important;
}

/** FORMULÃRIOS - FIM **/

/** FORMULÃRIO DO CORREIO **/
fieldset.formCorreios{
  -moz-border-radius    : 0px;
  -webkit-border-radius : 0px;
  -khtml-border-radius  : 0px;

  background-color      : #fff;
  width                 : 400px;
  padding               : 10px 5px;
  border                : none;
}

fieldset.formCorreios h3, fieldset.formCorreios h4{
  color                 : #202A65;
}

fieldset.formCorreios div.formBuscaCep{
  border                : solid 1px #202A65;
  padding               : 5px;
  background-color      : #d8e6ed;
  display               : table;
}

fieldset.formCorreios div.formBuscaCep div.formLine{
  display               : table-row;
}

fieldset.formCorreios div.formBuscaCep div.formLine div.formLabel{
  display               : table-cell;
}
/** FORMULÃRIO DO CORREIO - FIM **/

/** LISTAGEM DE DADOS **/
fieldset.fieldsetListagem{
  border                : solid 1px #ccc;
  -moz-border-radius    : 1em;
  -webkit-border-radius : 1em;
  -khtml-border-radius  : 1em;
  border-radius         : 1em;
  margin                : 5px;
}

fieldset.fieldsetListagem fieldset.fieldsetListagem{
  background-color      : #f5f5f5;

}
/** LISTAGEM DE DADOS - FIM **/

/** Legendas de aÃ§Ãµes, listagem de aÃ§Ãµes etc **/

ul.acoesListagem{
  list-style-type       : none;
  margin                : 0px;
  padding               : 0px;
}

ul.acoesListagem li{
  display               : inline;
}

ul.acoesListagem li a{
  text-decoration       : none;
  color                 : #333 !important;
  padding               : 5px 10px 5px 5px;
  background-color      : #efefef;
  border                : solid 1px #ccc;
  margin                : 0px 2px;
  -moz-border-radius    : 7px;
  -webkit-border-radius : 7px;
  -khtml-border-radius  : 7px;
}

ul.acoesListagem li a:hover{
  color                 : #333 !important;
  background-color      : #f9f9f9;
}

ul.acoesListagem li a img{
  margin-bottom         : -2px;
}

img.acoesListagemAction{
  width                 : 10px;
  margin-bottom         : -1px !important;
}

.fieldsetFiltros{
  margin-top            : 15px;
}

/** TABELAS **/
.tableList{
  width               : 100%;
  font-size           : 12px;
}

.tableList thead th{
    background-image    : linear-gradient(white, #e0e0e0, white);
    border              : solid 1px #ccc;
    text-align          : left;
    white-space         : nowrap;
}

.tableList thead td{
    background-color    : #ccc;
    border              : solid 1px #ccc;
    text-align          : left;
}

.tableList  th{
    background-image    : linear-gradient(white, #ccc);          
    border              : solid 1px #ccc;
    text-align          : left;
    white-space         : nowrap;
}

.tableList  td{
    background-color    : #ccc;
    border              : solid 1px #ccc;
    /* text-align          : left; */
}

.indicatorsTitle{
    background-image    : linear-gradient(white, #ccc);
    border              : solid 1px #ccc;
    text-align          : left;
    font-weight         : bold;
    max-width           : 150px;       
}

.capacityTotal{
    background          : #C0C0C0 ;
    border              : solid 1px #ccc;
    text-align          : left;
    font-weight         : bold;
    width               : 100px !important;
}

.tableList thead th.headSearchField{
    background-color    : #ccc;
    background-image    : none;
    border              : solid 1px #aaa;
}

.tableList thead th.headSearchField input[type=text]{
    border              : solid 1px #aaa;
}

.tableList tbody td{
  border              : solid 1px #ccc;
  background-color    : #fff;
}

.tableList tr.rowErrors td{
    background-color  : red;
    color             : #fff;
}

.tableList tbody tr:hover{
  background-color    : #BECE9F;
}

.tableList tbody tr td.tableListActions{
  white-space         :nowrap;
}

.tableList tbody tr td.tableListActions a img{
  width               : 15px;
  border              : 0px;
}

.tableList tbody tr td.tableListDescription{
    padding             : 10px;
    text-align          : justify;
}

.tableList tfoot tr td{
  background-color      : #efefef;
  padding               : 1px 0px;
}

.tableList tfoot tr td{
  padding             : 10px;
  font-weight         : bold;
}

/*
.radioAtiva{
  background-color    : #cfc;
  color               : #000;
}

.radioInativa{
  background-color    : #fcc;
  color               : #000;
}
*/
/** TABELAS - FIM **/

#carregando {
  left                : 45%;
  position            : fixed;
  top                 : 40%;
}

#carregando {
  background-color    : #EFEFEF;
  border              : 1px solid #CCCCCC;
  color               : #555555;
  padding             : 10px;
  text-align          : center;
}

/** IN PLACE EDIT **/
.inplaceedit_nao_informado{
  color               : #999;
}
/** IN PLACE EDIT - FIM **/

/** PAGINATOR **/
.paginatorControles{
  text-align            : right;
  padding               : 10px 0px 2px 0px;
}

.paginatorControles img, .paginatorControles input[type=image]{
  width                 : 15px;
}

.contagemResultados{
  margin-top            : 10px;
}
/** PAGINATOR - FIM **/

/** TOOLTIPS **/
#tooltip {
  position              : absolute;
  z-index               : 3000;
  border                : 1px solid #111;
  background-color      : #eee;
  padding               : 5px;
  opacity               : 0.85;
}

#tooltip span {
    color: #777;
    font-size: 10px; 
    display: block;
    position: absolute;
    bottom: 0;
    right: 10px;
}

#tooltip .body{
    position: relative;
    display: block;
    height: calc(100% - 30px);
}

#tooltip h3, #tooltip div {
  margin                : 0;
}

.tooltip img.tooltipImage{
  width                 : 15px;
}

#tooltip.pretty {
  font-family           : Arial;
  border                : none;
  width                 : 210px;
  padding               : 20px;
  height                : 135px;
  opacity               : 0.8;
  background            : url('/images/jquery-tooltip/shadow.png');
}

#tooltip.pretty h3 {
  margin-bottom         : 0.75em;
  font-size             : 12pt;
  width                 : 220px;
  text-align            : center;
}

#tooltip.pretty div {
  width                 : 220px;
  text-align            : left;
}

#tooltip.fancy {
  background            : url('/images/jquery-tooltip/shadow2.png');
  padding-top           : 5em;
  height                : 100px;
}

#tooltip.fancy.viewport-right {
  background            : url('/images/jquery-tooltip/shadow2-reverse.png');
}

#tooltip.fancy.viewport-bottom {
  background            : url('/images/jquery-tooltip/shadow2-vertical.png');
  padding               : 20px 20px 40px 20px;
}
/** TOOLTIPS - FIM **/

/** DIV DE HELPS, ERROS, INFOS, NOTIFICAÃÃES ETC. **/
.exceptionMessage{
  background            : #999 url(/images/icons/messagebox_warning.png) no-repeat 10px 10px;
  border                : solid 1px #777;
  color                 : #c00;
  margin                : 10px;
  padding               : 18px 10px 18px 50px;
}

.divHelp{
  border                : solid 1px #ccc;
  color                 : #999;
  margin                : 10px;
  padding               : 8px 10px;
}

span.divHelp{
  border                : solid 1px #ccc;
  color                 : #999;
  margin                : 1px;
  padding               : 1px;
}

.divHelp span{
  font-size             : 15px;
  font-weight           : bold;
}

.flashMessage{
  background            : #ffffcc;
  border                : solid 1px #e5ffcc;
  margin                : 0px auto;
  padding               : 5px;
  border-radius         : 2px;
  position              : fixed;
  top                   : 0;
  left                  : 40%;
  right                 : 40%;
}

.flashMessage ul{
  list-style-type       : none;
  float                 : left;
  margin                : 0px;
  padding               : 0px;
}

.flashMessage ul li{}

.errorMessages{
  background            : #efefef url(/images/icons/messagebox_warning.png) no-repeat 10px;
  border                : solid 1px #ccc;
  margin                : 10px;
  padding               : 5px 10px 5px 50px;
  -moz-border-radius    : 1em;
  -webkit-border-radius : 1em;
  -khtml-border-radius  : 1em;
  border-radius         : 1em;
}

.errorMessages p{
  font-weight           : bold;
  margin-left           : 5px;
}

.errorMessages ul{
}

.errorMessages ul li, fieldset fieldset .error{
  color                 : #c00 !important;
  margin                : 2px 0px;
  padding               : 3px 0;
}

.errorMessages ul li, fieldset fieldset .error input, span.error input{
  border : solid 1px #c00 !important;
}

.error{
  border                : solid 1 red !important;
}

.errorDisplay{
    margin: 3px;
    float: left;
}

.alertMessage{
    background              : #efefef url(/images/icons/messagebox_warning.png) no-repeat 10px;
    border                  : solid 1px #ccc;
    margin                  : 10px;
    padding                 : 5px 10px 5px 50px;
    -moz-border-radius      : 1em;
    -webkit-border-radius   : 1em;
    -khtml-border-radius    : 1em;
    border-radius           : 1em;
    color                   : #555;
}
/** DIV DE HELPS, ERROS, INFOS, NOTIFICAÃÃES ETC. - FIM **/

/** LISTAGEM DE PROGRAMAS DE RÃDIO **/

.fieldsetListagemProgramasRadio{
  margin-top            : 30px;
}

.fieldsetListagemProgramasRadio h2{
  color                 : #2F462B;
  margin                : 5px;
}

.fieldsetListagemProgramasRadio h3{
  color                 : #2F462B;
  margin                : 5px;
}

.fieldsetListagemProgramasRadio h4{
  color                 : #2F462B;
  margin                : 5px;
}

.listagemProgramasRadio{
  background-color      : #fafafa;
  margin                : 10px;
  padding               : 10px;
  border                : solid 1px #ccc;
  -moz-border-radius    : 1em;
  -webkit-border-radius : 1em;
  -khtml-border-radius  : 1em;
  border-radius         : 1em;
}

.listagemProgramasRadio:hover{
  background-color      : #ffffef;
}

.listagemProgramasRadioLinha{
  display             : table-row;
  width               : 100%;
}

.listagemProgramasRadioLabel{
  display             : table-cell;
  padding-top         : 3px;
  padding-bottom      : 3px;
  padding-right       : 10px;
}

.listagemProgramasRadioValue{
  display             : table-cell;
  padding-top         : 3px;
  padding-bottom      : 3px;
}

.listagemProgramaDownload{
  margin              : 5px 0px;
  padding             : 5px;
}

.listagemProgramaDownload a{
  font-size           : 15px;
}

.listagemProgramaDownload a img{
  width               : 20px;
}

.listagemProgramaNaoDownload{
  background            : url(/images/icons/messagebox_warning.png) no-repeat 10px 10px;
  color                 : #c55;
  margin                : 10px;
  padding               : 18px 10px 18px 50px;
  -moz-border-radius    : 1em;
  -webkit-border-radius : 1em;
  -khtml-border-radius  : 1em;
  border-radius         : 1em;
}

.fieldsetListagemProgramasRadio legend{
  margin-top                      : -20px;
  padding                         : 5px 10px 0px 10px;
  background-color                : #efefef;
  border                          : solid 1px #ccc;
  border-bottom                   : 0px;
  -moz-border-radius-topleft      : 1em;
  -moz-border-radius-topright     : 1em;
  -webkit-border-top-left-radius  : 1em;
  -webkit-border-top-right-radius : 1em;
  border-top-left-radius          : 1em;
  border-top-right-radius         : 1em;
}
/** LISTAGEM DE PROGRAMAS DE RÃDIO - FIM **/

/** POPUP **/
.fullScreenPopup{
  width                 : 100%;
  min-height            : 100%;
  margin                : 0;
  background            : rgb(255, 255, 255);
  /*background            : rgba(255, 255, 255, 0.8);*/
  position              : absolute;
  padding-top           : 10%;
  top                   : 0px;
  left                  : 0px;
}
/** POPUP - FIM **/

/** FILTROS **/
div.filtrosAvancados{
  border                : solid 1px #ccc;
  margin                : 5px 0px;
  padding               : 5px;
}

ul.ulAcoesListagem{
  margin                : 0px 0px 5px 3px;
  padding               : 3px 0px;
}

ul.ulAcoesListagem li{
  list-style-type       : none;
  display               : inline;
  padding               : 3px;
  border                : solid 1px #ccc;
  background-color      : #efefef;
    }

    ul.ulAcoesListagem li:hover{
      background-color      : #efefff;
    }

    ul.ulAcoesListagem li a, ul.ulAcoesListagem li a:active, ul.ulAcoesListagem li a:visited{
      text-decoration       : none;
    }

    ul.ulAcoesListagem li a:hover{
      color                 : #000 !important;
    }
    /** FILTROS - FIM **/


    /** AMBIENTE DO SISTEMA **/
    div#enviroment{
        border              : solid 1px #ccc;
        color               : #555;
        text-align          : center;
    }

    div#enviroment{
        padding             : 5px 0px;
    }

    div.enviroment-homolog{
        background-color    : #f59440;
    }

    div.enviroment-homolog2{
        background-color    : #f59440;
    }

    div.enviroment-treino{
        background-color    : #daa4c6;
    }

    div.enviroment-development{
        background-color    : #fcc;
    }

    div.enviroment-testing{
        background-color    : #ffc;
    }

    div.enviroment-production{
        display             : none;
    }
    /** AMBIENTE DO SISTEMA - FIM **/

    /** RELATÃRIOS **/
    .report{}

    .report-information-block{
        border              : solid 1px #ccc;
        padding             : 10px;
        margin              : 5px 0px 5px 20px;
    }

    .report-information-block h3{
        padding             : 3px;
        margin              : -10px;
        margin-bottom       : 10px;
        border-bottom       : solid 1px #ccc;
    }

    .report-information-block table{
        width               : 100%;
        border              : solid 1px #ccc;
    }

    .report-information-block table thead{
    }

    .report-information-block table thead tr th{
        text-align          : left;
        background-color    : #ccc;
        border              : solid 1px #999;
    }

    .report-information-block table thead tr th.report-table-ibge-header{
        background-color    : #1F578C;
        color               : #fff;
    }

    .report-information-block table thead tr th.report-table-pastoral-header{
        background-color    : #2F462B;
        color               : #fff;
    }

    .report-information-block table tbody tr td{
        border              : solid 1px #ccc;
    }

    .report-information-block table thead tr th, .report-information-block table tbody tr td{
        padding             : 1px 5px;
    }
    /** RELATÃRIOS - FIM **/

    /** ACESSO NEGADO **/
    div#deniedAccess{
        color                   : #555;
        width                   : 95%;
        margin                  : auto;
    }

    div#deniedAccess div#deniedAccessHeader{
        background              : url(../images/padlock.png) no-repeat -10px 10px;
        height                  : 100px;
        padding-left            : 80px;
        -moz-border-radius      : 1em;
        -webkit-border-radius   : 1em;
        -khtml-border-radius    : 1em;
        border-radius           : 1em;
        border                  : solid 1px #CCC;
    }

    div#deniedAccess div#deniedAccessHeader h1{
        color                   : #c55;
        margin                  : 17px 0px 0px 0px;
    }

    div#deniedAccess div#deniedAccessText{
        font-size               : 15px;
    }

    div#deniedAccess div#deniedAccessText dl{
        font-size               : 12px;
    }

    div#deniedAccess div#deniedAccessText dl dt{
        font-weight             : bold;
        margin-top              : 10px;
    }

    div#deniedAccess ul{
        list-style-type         : none;
    }

    div#deniedAccess ul li a{
    }
    div#deniedAccess ul li a img{
        text-decoration         : none;
    }
    /** ACESSO NEGADO - FIM **/

    /** LISTA DE ORDENAÃÃO **/
    ul#sortable{
        list-style-type         : none;
        margin                  : 0px;
        padding                 : 0px;
    }

    ul#sortable li.sortable-list-li{
        margin                  : 2px 1px;
        padding                 : 2em 2em 2em 3em;
        background              : url(../images/icons/move.png) no-repeat 5px 20px;
        border                  : solid 1px #ccc;
        cursor                  : move;
        -moz-border-radius      : 1em;
        -webkit-border-radius   : 1em;
        -khtml-border-radius    : 1em;
        border-radius           : 1em;
    }

    ul#sortable li.sortable-list-li:hover {
        background-color        : #ffffef;
    }

    ul#sortable li.sortable-list-li-highlight{
        background-color        : #efefef;
    }

    ul#sortable li.sortable-list-li-highlight:hover {
        background-color        : #eeeede;
    }

    ul#sortable li.sortable-list-li ul.sortableActions{
        padding                 : 0px;
        margin                  : -2em -1em 0em 0em;
        text-align              : right;
    }

    ul#sortable li.sortable-list-li ul.sortableActions li{
        display                 : inline;
        list-style-type         : none;
        border                  : solid 1px #ccc;
        margin                  : -3px 0px 0px 0px;
        padding                 : 4px 5px 0px 5px;
        background              : url(/images/bg_button.png);
        cursor                  : link;
        height                  : 30px !important;
    }

    ul#sortable li.sortable-list-li ul.sortableActions li a{
        text-decoration         : none;
    }

    ul#sortable li.sortable-list-li ul.sortableActions li a img{
        border                  : 0px;
    }
    /** LISTA DE ORDENAÃÃO - FIM **/

    /** LISTAGEM DE ITENS UNIDOS **/

    div.joinList ul.joinListUl{
        list-style-type         : none;
        margin                  : 0px;
        padding                 : 0px;
    }

    div.joinList ul.joinListUl li.joinListUlLi{
        margin                  : 2px 1px;
        padding                 : 10px;
        border                  : solid 1px #ccc;
        -moz-border-radius      : 10px;
        -webkit-border-radius   : 10px;
        -khtml-border-radius    : 10px;
        border-radius           : 10px;
    }

    div.joinList ul.joinListUl li.joinListUlLi:hover {
        background-color        : #ffffef;
    }

    div.joinList ul.joinListUl li.joinListUlLi ul.itemActions{
        padding                     : 0px 10px;
        text-align                  : right;
        margin                      : -10px -10px 0px -10px;
        border-bottom               : solid 1px #ccc;
    }

    div.joinList ul.joinListUl li.joinListUlLi ul.itemActions li{
        display                 : inline;
        list-style-type         : none;
        border                  : solid 1px #ccc;
        margin                  : 0px;
        padding                 : 3px 5px 0px 5px;
        background              : url(/images/bg_button.png);
        cursor                  : link;
        height                  : 30px !important;
    }
    /** LISTAGEM DE ITENS UNIDOS - FIM **/

    /* For module FORM */
    .box{
        width                   : 100%;
        font-size               : 12px;
        width                   : 5px 0px;
        float                   : left;
    }

    .box .wdl{
        float                   : left;
        margin                  : 3px;
    }

    .box .wdl2{
        float                   : left;
        margin-right            : 30px;
    }

    .box .wdr{
        float                   : right;
        margin-left             : 3px;
        margin-bottom           : 3px;
        margin-top              : 3px;
    }

    .up{
        z-index                 : 1;
        display                 : none;
        border                  : medium solid #2F462B;
        position                : absolute;
        background              : #FFF;
        margin                  : 0px;
    }

    .up-list{
        z-index                 : 1;
        position                : absolute;
        background              : #FFF;
        margin                  : 0px;
    }

    .up-input{
        z-index                 : 1;
        margin                  : 0px;
    }

    .up-input input:focus{
        padding                 : 0px 2px;
        outline                 : 0px;
    }

    .up-input input{
        padding                 : 0px 2px;
        outline                 : 0px;
        -webkit-appearance      : textfield;
    }

    .logic {
        text-align: left;
    }
    .logic input{
        width: 150px;
    }
    .logic input:focus,
    .element_textselect input:focus:first-child {
        border-left             : medium solid #2F462B;
        border-right            : medium solid #2F462B;
        border-top              : medium solid #2F462B;
        border-bottom           : 0;
        padding-bottom          : 2px;
        background-color        : #FFF !important;
    }
    .logic .up{
        z-index                 : 1;
        border-left             : medium solid #2F462B;
        border-right            : medium solid #2F462B;
        border-bottom           : medium solid #2F462B;
        position                : absolute;
        background              : #FFF;
        width                   : 150px;
        margin                  : 0;
    }
    .element_textselect {
        text-align: left;
    }
    .element_textselect input:first-child{
        width: 350px;
    }
    .element_textselect .up{
        z-index                 : 1;
        border-left             : medium solid #2F462B;
        border-right            : medium solid #2F462B;
        border-bottom           : medium solid #2F462B;
        position                : absolute;
        background              : #FFF;
        width                   : 350px;
        margin                  : 0;
    }
    .up .value{
        padding                 : 0 5px;
        font-weight             : bold;
        color                   : #000;
    }
    .up div{
        text-align: left;
        overflow            : hidden;
        white-space         : nowrap;
        text-overflow       : ellipsis;
        color                   : #000;
    }
    .up div:hover {
        background              : #ccc;
        color                   : #000;
    }


    .focus{
        border                  : 2px solid #2F462B;
        margin                  : -2px;
    }

/** ISSUES **/
div#div-hide-menu{
        float                  : left;
}

div#issue-request-sheet-information{
    text-align              : right;
    margin                  : -12px -12px;
    padding                 : 3px;
    background-color        : #fafafa;
        border-bottom           : solid 1px #efefef;
        color                   : #555;
}

div.issueFormTwoColumns{
        display                : table;
        width                  : 100%;
}

div.issueFormTwoColumns div.issueFormTwoColumnsRow{
        display                : table-row;
}

div.issueFormTwoColumns div.issueFormTwoColumnsRow div.issueFormTwoColumnsCell{
        display                : table-cell;
}

div.issueFormTwoColumns div.issueFormTwoColumnsRow div.issueFormTwoColumnsCell table{
        width                  : 100%;
}

div#issueContent{
        width                  : 1000px;
        margin                 : auto;
        margin-top             : -13px;
        border                 : solid 1px #ccc;
        padding                : 10px;
        color                  : #333;
}

div#issuesList{}

div#issuesList div.issueListBlock{
        border                 : solid 1px #efefef;
        margin                 : 5px 0px;
        padding                : 10px;
}

div#issuesList div.issueListBlock div.issueQuestion{
        font-weight            : bold;
        font-size              : 20px;
}

div#issuesList div.issueListBlock div.issueHeadersInformation{
        text-transform         : uppercase;
        color                  : #555;
        margin                 : 10px 0px;
}

div#issueContent div.issueDisplayInfo{
    padding                 : 10px;
}

div#issueContent div.issueDisplayInfo div.issueDisplayInfoTitle{
        font-size              : 20px;
        padding                : 20px;
        border-bottom          : solid 1px #ccc;
}

div#issueContent div.issueDisplayInfo fieldset,
div#issueContent div.issueDisplayInfo div.issueCauseDisplay,
div#issueContent div.issueDisplayInfo div.issueActionDisplay{
        border                 : solid 1px #ccc;
}

div#issueContent div.issueDisplayInfo fieldset,
div#issueContent div.issueDisplayInfo div.issueCauseDisplay,
div#issueContent div.issueDisplayInfo div.issueActionDisplay{
        border-radius          : 1em;
}

div#issueContent div.issueDisplayInfo div.issueCauseDisplay,
div#issueContent div.issueDisplayInfo div.issueActionDisplay{
        margin                 : 10px 0px;
}

div#issueContent div#filters div#tab1 input[type=text]{
        padding                : 6px;
        width                  : 400px;
        font-style             : italic;
}

div#issueContent div#filters div#tab1 label{
        font-style             : italic;
        margin-right           : 5px;
        color                  : #999;
}
div#issueContent div#filters div#tab1 label{
	font-style             : italic;
	margin-right           : 5px;
	color                  : #999;
}

div#issueContent div#filters div#tab1 div#issueFiltersAdvancedFilters{
	margin-top             : 10px;
}
/** ISSUES - FIM **/

/** RELATÓRIOS **/
.tableReport{
    width: 100%;
    page-break-inside: always;
}

.tableReport thead th{
  background            : #ccc url(/images/bg_button.png);
  border                : solid 1px #ccc;
  text-align            : center;
  white-space           : nowrap;
}

.tableReport thead td{
    background-color    : #ccc;
    border              : solid 1px #ccc;
    text-align          : left;
}

.tableReport thead th.headSearchField{
    background-color    : #ccc;
    background-image    : none;
    border              : solid 1px #aaa;
}

.tableReport thead th.headSearchField input[type=text]{
    border              : solid 1px #aaa;
}

.tableReport tbody td{
  border              : solid 1px #ccc;
  background-color    : #fff;
  padding             : 0px;
}
.tableReport td.iconStatus{
  border              : solid 1px #ccc;
  background-color    : #fff;
  text-align          : center;
  padding             : 2px 0px 0px 0px;
}

.iconsStatus img{
    border : solid 2px #ccc;
}

.tableReport td.iconLink{
  border              : solid 1px #ccc;
  background-color    : #fff;
  text-align          : center;
  padding             : 0px 0px 0px 0px;
}

.tableReport td.total{
  border              : solid 1px #ccc;
  background-color    : #fff;
  text-align          : center;
  font-weight         : bold;
  padding             : 0px 0px 0px 0px;

}

.tableReport tbody tr:hover{
  background-color    : #BECE9F;
}

.tableReport tbody tr td.tableReportActions{
  white-space         :nowrap;
}

.tableReport tbody tr td.tableReportActions a img{
  width               : 15px;
  border              : 0px;
}

.tableReport tbody tr td.tableReportDescription{
    padding             : 10px;
    text-align          : justify;
}

.tableReport tbody tr td.tableReportDescription{
    padding             : 10px;
    text-align          : justify;
}

.tableReport tfoot tr td{
  background-color      : #efefef;
  padding               : 1px 0px;
}

.tableReport tfoot tr td{
  padding             : 10px;
  font-weight         : bold;
}
/** RELATÓRIOS - FIM**/

.formValue .leftOptions{
   position: relative;
   float: left;
}

.leftOptions{
   position: relative;
   float: left;

}

.rightOptions{
   position: relative;
   float: right;

}

.formLabel, .formLabelInline, dl.zend_form dt{
  padding             : 0px 0px 5px 2px;
  font-weight         : bold;
}

div#section_report{
	padding             : 10px;
    text-align          : justify;
}

.tableReport .destaque1 td{
  border              : solid 1px #ccc;
  background-color    : #FFDB70;
  text-align          : left;
  font-weight         : bold;
  padding             : 0px 0px 0px 0px;

}

th[rowspan="2"] {
  background            : #ccc url(/images/bg_big_button.png) !important;
  border                : solid 1px #ccc;
  text-align            : center;
  white-space           : nowrap;
}

th div {
  background            : #fff !important;
  border                : solid 1px #ccc;
  text-align            : center;
  white-space           : nowrap;
}

.box .centraliza-div{
  position:absolute;
  left:45%;
  margin-right            : 3px;
}
.box .centraliza-div-20{
  position:absolute;
  left:20%;
  float: left;
  margin-right            : 3px;
}
.box .centraliza-div-60{
  position:absolute;
  left:60%;
  float: left;
  margin-right            : 3px;
}

.label{
    margin-top: 8px;
}

.zebra1{
    background: #262626;
}

.zebra2{
    background: #ffffff;
}

.tableList  td.zebra1{
    background-color    : #E5E5E5;
    border              : solid 1px #ccc;
    text-align          : left;
}

.tableList  td.zebra2{
    background-color    : #ffffff;
    border              : solid 1px #ccc;
    text-align          : left;
}

.certificadeFront{
    font-size : 150%;
    text-align: center;
    padding   : 150px;
    line-height: 200%;
    /* font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; */
}
.certificadeBack{
    font-size : 100%;
    padding   : 20px;
    line-height: 150%;
    margin-left: 80px;
    /* font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; */
}

/* CABECALHO SISTEMA */

    #not_me a{
        color: #fff;
    }

    html,body{
        height:100%;
        width: 100%;
        margin: 0;
    }
    #menu, #menu *{
        box-sizing: border-box;
    }
    #menu {
        position: fixed;
        top: 50px;
        right: -253px;
        width: 200px;
        height: auto;
        max-height: 400px;                
        margin:0;
        background-color: #2F462B;
        color: #fff;
        box-shadow: 0 0 0 rgba(0,0,0,0.4);
        transition-duration: 0.3s;
    }

    #menu.show {
        top: 50px;
        right: 0;
        box-shadow:0 0 5px rgba(0,0,0,0.4);
        transition-duration: 0.3s;
        z-index: 999;
    }
    #menu div{
        min-height: 40px;
        padding: 10px 0;
    }
    #menu h2 {
        padding: 10px;
        margin: 0;
    }
    #menu a{
        display: block;
        min-height: 40px;
        padding: 10px;
        color: white;
        text-decoration: none;
        text-align: right;
        cursor: pointer;
    }
    #menu a:hover{
        text-decoration: none;
        background-color: #498744;
        transition-duration: 0.3s;
    }
    #menu a p, #menu a img{
        display: inline-block;
        padding: 0;
        margin:0;
        vertical-align: middle;
    }
    #menu a p{
        width: calc(100% - 35px);
        text-align: left;
    }
    #menu a img{
        height: 30px;
        width: 30px;
    }
    #headerTop{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        min-height: 80px;
        width: 100%;
    }
    #headerTop > div{
        display: block;
        box-sizing: border-box;
        vertical-align: bottom;
        height: 80px;
        width: 33%;
        padding: 5px;
        flex:1 1;
    }
    #headerTop > div:nth-child(2){
        text-align: center;
        white-space: nowrap;
        flex: 1 0 auto;
    }
    #abre{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 80px;
        width: 50px;
        z-index: 1;
        cursor: pointer;
    }
    #profileIco{
        height: 40px;
        margin-top: 5px;
    }
    #abre img{
        height: 50px;
        margin-top: 0;
    }
    
    #welcome{
        margin: 0 60px 0 0;
    }
    #quickMenu{
        position:relative;
        z-index: 0;
    }
    
    .warning{
        padding: 20px;
        margin: 10px 0;
        text-align: center;
        background-color: #f1f1a0;
        border: 1px solid #c3c31e;
    }

    #loading {
        position: fixed;
        display: none;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        text-align: center;
        background-color: transparent;
        transition: all 0.5s linear;
        z-index: 999;
    }
    #loading.show {
        display: flex;
        background-color: rgba(51,72,47,0.8);
        transition: background-color 0.5s linear;
    }
    #loadingText {
        width: 100%;
    }
    #counter {
        position: fixed;
        bottom: 50px;
        right: 50px;
        margin: auto 0 auto auto;
        align-self: flex-end;
    }

    .errors{
        display: block;
        width: 100%;
        max-width: 600px;
        padding: 30px;
        margin: 0 auto;
        text-align: center;
        background-color: #fdfaca;
    }