/** TOP BAR **/
#head{
  background          : #000 url(../images/logo.png) no-repeat fixed 0 0px;
}


div#topBar{
  background          : #006847 url(../images/bandeira-guine.png) no-repeat fixed 68px 0px;
}

div #quickMenu ul li:hover
{
  color: #fff;
  font-weight: normal;
}

div #quickMenu ul{
  background          : #006847 url(../images/navcontainer2-guine.png) repeat-x scroll 0 0px;
}

div#quickMenu ul li a, div#quickMenu ul li a:visited, div#quickMenu ul li a:active, div#quickMenu ul li a:hover {
  color               : #fff;
}
/** TOP BAR - FIM **/

/** CORES DO SISTEMA **/
.tableList tbody tr:hover {
  background-color    : #fff;
}

input[type=text], input[type=password], select, textarea ,input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus {
  color               : #000;
}

.ui-corner-all a{
    color: black !important;
}

.ui-accordion-content-active a{

    color: #000 !important;
}

.ui-state-hover a{
    font-weight: bold;
    color: black !important;
}

/** CORES DO SISTEMA - FIM **/
