/** TOP BAR **/
#head{
  background          : #183885 url(../images/logo.png) no-repeat fixed 0 0px;
}


div#topBar{
  background          : #183885 url(../images/bandeira-haiti.png) no-repeat fixed 68px 0px;
}

div #quickMenu{
  background          : #183885 url(../images/navcontainer2-haiti.png) repeat-x scroll 0 0px;
}

div #quickMenu ul li:hover{
  background          : #da251e;
}

div#quickMenu ul li a, div#quickMenu ul li a:visited, div#quickMenu ul li a:active, div#quickMenu ul li a:hover{
  color               : #fff;
}
/** TOP BAR - FIM **/

/** CORES DO SISTEMA **/
#menu h4, button, input[type=button], input[type=submit], input[type=reset], #teste{
  color: #fff;
  background-color    : #183885;
}

.tableList tbody tr:hover{
  background-color    : #da251e;
}

input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus, #menu ul li:hover, button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover{
  background-color    : #C3CCE6;
}

input[type=text], input[type=password], select, textarea ,input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus{
  color               : #183885;
}
/** CORES DO SISTEMA - FIM **/
