/* 
    Created on : 16/10/2018, 09:17:08
    Author     : paulo
*/

h1{
   
}
span.selected{
    display: block;
    margin: 3px;
}
#format {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

#formatContent *{
    box-sizing: border-box;
}

#formatContent .formLabel{
    position: relative;
    width: 100%;
    max-width: 390px;
    margin: 5px auto;
    padding: 5px 20px 5px 5px;
    clear: both;
}
#formatContent .fieldsetFormulario.i18npanel .formLabel,
#formatContent .i18npanel .formValue, #formatContent .i18npanel .widget
{
    margin: 5px;
}
#formatContent .formLabel:hover{
    background-color: rgba(255,255,255,0.6);
}
#formatContent .formLabel span{
    position: absolute;
    right: 5px;
}

#formatContent .formValue, #formatContent .widget{

    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
#formatContent .large .formValue{
    max-width: 800px;
}
#formatContent .formValue .imgLinkSmall{
    position: absolute;
    top: -7px;
    right: 0;
    width: 20px;
    height: 20px;
    margin: 4px 5px;
}
#formatContent .widget input{
    padding-right: 30px;
}
#formatContent input, #formatContent select, #formatContent textarea{
    flex: 1 1 0;
    width: 100%;
    max-height: 300px;
    padding: 5px;
}
#formatContent input[type=color]{
    height: 50px;
}
#formatContent .formLineSubmit{
    margin: 20px 0 60px 0;
}

#formatContent .submitLine{
    width: 100%;
    max-width: 100%;
    margin: 20px 0;
    padding: 10px;
    text-align: right;
}

#formatContent .formLineSubmit input, .submitLine input{
    width: 100%;
    max-width: 200px;
    padding: 10px;
    color: #fff;
    border: none;
    background-color: #2b4326;
    cursor: pointer;
}
#formatContent .formLineSubmit input:hover, .submitLine input:hover{
    background-color: #497b3e;
}
#formatContent p, #formatContent span{
    white-space: normal;
}

.imgLinkSmall{
    margin: 0 5px;
    vertical-align: -3px;
}
.colorContainer{
    display: block;
    width: 100%;
}
.colorLabel{
    display: block;
    padding: 5px;
}
.flexForm{
    display: flex;
    width: 100%;
}
.l100{
    width: 100%;
    margin: 0 0 10px 0;
}
.l50{
    width: 50%;
    margin: 0 0 10px 0;
}