/**
 *  DEFINIÇÕES DO LAYOUT DO Módulo Mapa.
 */

#mapaMenu{
  padding-left        : 5px;
  margin              : -12px -12px 0px -12px;
}

#mapaMenu ul{
  margin              : 0px;
  padding             : 2px 0px 0px 0px;
}

#mapaMenu ul li{
  margin              : 0px;
  padding             : 0px;
  display             : inline;
  list-style-type     : none;
}

#mapaMenu ul li a img{
  border-top          : solid 2px #ccc;
  border-left         : solid 2px #ccc;
  border-right        : solid 2px #555;
  border-bottom       : solid 2px #555;
}

#mapaConteudo{
  margin              : 0px -12px;
  padding             : 10px;
  border              : solid 1px #ccc;
  height              : 500px;
  /*
  -moz-border-radius    : 1em;
  -webkit-border-radius : 1em;
  -khtml-border-radius  : 1em;
  border-radius         : 1em;
  */
}

#mapa{
  background-color    : #fff;
}

#mapaControles{
  float               : right;
  width               : 200px;
}

#mapaLayers, #mapaLegenda{
  border                : solid 1px #ccc;
  margin                : 5px 0px;
  padding               : 5px;
  -moz-border-radius    : 1em;
  -webkit-border-radius : 1em;
  -khtml-border-radius  : 1em;
  border-radius         : 1em;
}

.mapaLayersBloco{
  padding-top           : 10px;
}

.mapaLayersSubmit{
  margin-top            : 5px;
  text-align            : right;
}