.logom {
    padding-top: 50px;
    padding-bottom: 50px;
}
.searchm {
    padding-bottom: 25px;
}
.titlem {
    padding-bottom: 25px;
    padding-top: 25px;
    text-align: right;
    padding-right: 13px;
    vertical-align: top;
    font-family: arial;
}
.datam {
    padding-top: 25px;
    padding-bottom: 25px;
    vertical-align: top;
    font-family: arial;
    text-align: justify;
}
.tabledadosm{
    max-width: 700px;
}

.linhazinha{
    height: 1px;
    max-width: 600px;
    background-color: lightgrey;
}

.messagem {
    padding-bottom: 10px;           
}

.imagemCell{
   text-align: center;
   alignment-adjust: central;
   alignment-adjust:central;
   
}

.imgTable{
    width: 100%;

}

#acervo{
    margin-bottom: 0px;
    height: 30px;
}

.altop{
    vertical-align: top;
   
}

.imagemDiv{
    float:left;
    padding-right: 13px;
}

.imgdiv{
    float:left;
    padding-right: 1%;
    display: table-cell;
    min-width: 75px;
    max-width: 115px;
    width: 10%;
}

.imagemThumb{
    float:left;
    max-height: 100px;
    border-style: solid;
    border: 1px;
    border-color: #000000;
}

.imagemLink{
    float: left;    
    border-style: solid;
    border: 1px solid;
    border-color: #000000;
}

.backbutton{
    margin:0px;
    padding: 0px;
    text-align: left;
    display:table-cell;
    vertical-align:middle;
    width: 100%;
    height: 40px;
    background-color: #c9c9c9;
    clear: both;
    font-size: 20px;
    cursor: pointer; 
}

.topBarm{
    position: absolute;
    top: 0px;
    width: 100%;
    padding-bottom: 10px;
    alignment-adjust:middle;
    
}

.centerBarm{
    width: 100%;
    padding-bottom: 10px;
    alignment-adjust:middle;
    
}

#session_culture_id{
    float: right;
}
