#navigator *{
	box-sizing: border-box;
}
#navigator{
	display: block;
	width: 100%;
	max-width: 1000px;
	margin: 30px auto;
	padding: 0 20px;
	font-family: Verdana, Arial;
	font-size: 14px;
}
h1{
	text-align: center;
	font-size: 1.5em;
}
.list>div, .list>a{
	display:block;
	text-decoration: none;
	color: #000;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: auto 80%;
}
.list>div{
	padding:10px 0 10px 0;
	font-size: 0em;
}
.list>a{
	padding:15px 0 15px 60px;
}
.list>div:nth-child(even), .list>a:nth-child(even){
	background-color: #efefef;
}
.list>div:hover, .list>a:hover{
	background-color: #ddd;
}
.list>div div{
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	margin: 0;
}
.list>div div.fileName{
    padding: 0 0 0 70px;
}
.list>div div:nth-child(1){
	width: calc(100% - 300px);
}
.list>div div:nth-child(2){
	width: 200px;
	text-align: right;
}
.list>div div:nth-child(3){
	width: 100px;
        min-width: 100px;
	text-align: right;
}
.folder{
	background-image: url("./icons/folder.svg");
}
.image{
	background-image: url("./icons/image2.svg");
}
.video{
	background-image: url("./icons/video.svg");
}
.file{
	background-image: url("./icons/file2.svg");
}
.url{
	background-image: url("./icons/file2.svg");
}
.ico{
	display: inline-block;
	position: relative;
	height: 30px;
	width: 30px;
        font-size: 0;
	margin: 0 2px;
	clear: both;
        cursor: pointer;
}
.download{
	background-image: url("./icons/download.svg");
}
.delete{
	background-image: url("./icons/delete.svg");
}
.edit{
	background-image: url("./icons/edit.svg");
}
.upload{
	background-image: url("./icons/upload.svg");
}

.addFolder{
	background-image: url("./icons/folder_add.svg");
}
.addFile{
	background-image: url("./icons/file_add.svg");
}

#iconsBar{
    margin: 0;
    padding: 10px;
    text-align: right;
    background-color: #efefef;
}
.folderIcons{
    position: relative;
    float: right;
    margin: -6px 5px auto auto;
}
.fileIcons{
    padding: 5px;
}
#iconsBar .ico{
    margin: 1px;
}
#iconsBar input{
    display: none;
}
#iconsBar form{
    display: inline-block;
    padding: 0;
    margin: 0;
}
#popShow{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 9;
}
#popShow div:nth-child(1){
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    text-align: right;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
#popShow img, #popShow video{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 95%;
    max-height: 85%;
    transform: translate(-50%, -50%);
}
#download, #uploadFrame{
    display: none;
}
#popContent{
    position: absolute;
    width: 100%;
    height: 100%;
}
#fecharPopShow{
    background-color: #eee;
    border-radius: 0;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Verdana;
    font-size: 1.5em;
    width: 26px;
    height: 100%;
    margin: 1px 4px;
    padding: 0 0 3px;
    text-align: center;

}
#breadcrumbs{
	margin: 10px 0;
	font-size: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
}
#breadcrumbs a,#breadcrumbs span{
	display: inline-block;
	padding: 10px 10px;
	margin: 0;
	font-size: 14px;
	color: #000;
	text-decoration: none;
	border-style: none solid none none;
	border-width: 1px;
	border-color: #ccc;
	cursor: pointer;
}
#breadcrumbs a:hover,#breadcrumbs span,#breadcrumbs span:hover{
	background-color: #f5f5f5;
}

#addFolderPop label{
    display: block;
    width: 90%;
    padding: 10px 0;
    margin: 0 auto;
    text-align: left;
}

#addFolderPop input{
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}
.popBots{
	position: fixed;
	top: 40%;
	height: 20%;
	width: 60px;
	z-index: 20;
	background-repeat: no-repeat;
	background-size: 100% auto;
	transform: translate(-50% -50%);
	cursor:pointer;
	opacity: 0.2;
	transition-duration: 0.5s;
}
.popBots:hover{
	opacity: 0.8;
}
#next{
	right: 0;
	background-image: url("./icons/next.svg");
	background-position: right center;
}
#prev{
	background-image: url("./icons/prev.svg");
	background-position: left center;
}

.warning{
    margin: 5px 0;
    padding: 15px;
    text-align: center;
    background-color: #ffff91;
    border: 1px solid #c7c74f;
}


@media screen and (max-device-width: 1000px) {
	body{
            font-size: 30px;
	}
        h1{
            font-size: 35px;
        }
	#breadcrumbs a,#breadcrumbs span{
		font-size: 30px;
                padding: 20px;
	}
	.list>div{
		padding:30px 0;
		background-size: auto 65%;
	}
	.list>a{
		padding:30px 0 30px 80px;
		background-size: auto 70%;
	}
	.list>div div{
		padding: 0;
		font-size: 30px;
	}
        .list>div div.fileName{
                padding: 0 0 0 150px;
        }
        .list a{
		font-size: 30px;
	}
	.ico{
		height: 60px;
		width: 60px;
	}
}
