@charset "UTF-8";
/* Material G - version 0.34*/
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
/* color */
/* text */
@charset "UTF-8";

/* color */
/* text */
.popUp, .popUp * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  line-height: 150%;
  margin: 0;
  padding: 0; }


.popUpFundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99; }

.popUp {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    background-color: #fff;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: #000;
    border-radius: 0;
    border-style: none;
    overflow: hidden; }

.popUp.p {
  max-width: 100%;
  max-height: 700px;
  }

.popUp.m {
  max-width: 100%;
  max-height: 700px;
   }

.popUp.m-quad {
  max-width: 100%;
  max-height: 850px;
   }

.popUp.g {
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%); }

.popUp.glong {
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%); }

.popUp.fullscreen {
  max-width: 100%;
  max-height: 100%; }

.popUp > h1 {
  height: 60px;
  text-align: center;
  font-size: 1.3em;
  margin: 0;
  vertical-align: middle;
  border: 0 none transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab; }

.popUp > div > div > button {
  font-size: 40px; }

.popUp > div:nth-child(2) {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  height: calc(100% - 200px);
  padding: 5px;
  vertical-align: middle;
  text-align: center;
  overflow: auto; }

.popUp > div:nth-child(2) > div {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.popUp.message > div:nth-child(2) {
  height: 100%; }

.popUp > div:nth-child(3) {
  height: 140px; }
.popUp > div:nth-child(3) button{
    font-size: 1em;
}

.popUp.message > div:nth-child(3) {
  display: none; }

.popUpXis {
  display: none;
  position: relative;
  float: right;
  top: -4px;
  right: 0;
  width: 120px;
  padding: 5px 15px;
  text-align: center;
  font-size: 2em;
  font-weight: normal;
  cursor: pointer; }

.message .popUpXis{
  display: block;
}

.popUpXisComp {
  position: relative;
  float: left;
  top: -4px;
  left: 0;
  width: 60px;
  height: 100%;
  padding: 5px 15px;
  font-weight: normal; }
.confirm .popUpXisComp, .alert .popUpXisComp{
    display: none;
}
.popUpHtext {
  display: inline-block;
  width: 100%;
  height: 100%; }

.popUpHtextX {
  display: inline-block;
  width: calc(100% - 180px);
  height: 100%; }

/****** TIPO */
.popUp.confirm > div:nth-child(3) > button {
  width: 50%;
  height: 100%;
  border: 0 none;
  cursor: pointer;
 
    }

.popUp.confirm > div:nth-child(3) > button:focus {
  outline: none; }

.popUp.alert > div:nth-child(3) > button {
  width: 100%;
  height: 100%;
  border: 0 none;
  cursor: pointer; }

.popUp.alert > div:nth-child(3) > button:focus {
  outline: none; }

/****** CORES */
/* azul */
.popUpFundo.azul {
  background-color: RGBA(19, 65, 82, 0.8); }

.popUp.azul {
  background-color: #51b2d6;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.popUp.azul > h1 {
  background-color: transparent; }

.popUp.azul div:nth-child(3) button:nth-child(1) {
  background-color: #38a7d0;
  color: #fff; }

.popUp.azul div:nth-child(3) button:nth-child(1):hover {
  background-color: #72c1de; }

.popUp.azul div:nth-child(3) button:nth-child(2) {
  background-color: #38a7d0;
  color: #fff; }

.popUp.azul div:nth-child(3) button:nth-child(2):hover {
  background-color: #72c1de; }

/* prime */
.popUpFundo.prime {
  background-color: rgba(238, 238, 238, 0.7); }

.popUp.prime {
  background-color: #000;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.popUp.prime > h1 {
  color: #fff;
  background-color: transparent; }

.popUp.prime div:nth-child(3) button:nth-child(1) {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2); }

.popUp.prime div:nth-child(3) button:nth-child(1):hover {
  background-color: rgba(0, 0, 0, 0.1); }

.popUp.prime div:nth-child(3) button:nth-child(2) {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2); }

.popUp.prime div:nth-child(3) button:nth-child(2):hover {
  background-color: rgba(0, 0, 0, 0.1); }

/* branco */
.popUpFundo.branco {
  background-color: rgba(0, 0, 0, 0.7); }

.popUp.branco {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.popUp.branco > h1 {
  background-color: transparent; }

.popUp.branco div:nth-child(3) button:nth-child(1) {
  background-color: #ddd; }

.popUp.branco div:nth-child(3) button:nth-child(1):hover {
  background-color: rgba(221, 221, 221, 0.5); }

.popUp.branco div:nth-child(3) button:nth-child(2) {
  background-color: #ddd; }

.popUp.branco div:nth-child(3) button:nth-child(2):hover {
  background-color: rgba(221, 221, 221, 0.5); }

/* verde */
.popUpFundo.verde {
  background-color: rgba(0, 0, 0, 0.8); }

.popUp.verde {
  background-color: #03880a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff; }

.popUp.verde > h1 {
  background-color: transparent;
  color: #fff; }

.popUp.verde div:nth-child(3) button:nth-child(1) {
  background-color: #03a20b;
  color: #fff; }

.popUp.verde div:nth-child(3) button:nth-child(1):hover {
  background-color: #03b90c; }

.popUp.verde div:nth-child(3) button:nth-child(2) {
  background-color: #03a20b;
  color: #fff; }

.popUp.verde div:nth-child(3) button:nth-child(2):hover {
  background-color: #03b90c; }

/* vermelho */
.popUpFundo.vermelho {
  background-color: rgba(0, 0, 0, 0.8); }

.popUp.vermelho {
  background-color: #d55c4b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff; }

.popUp.vermelho > h1 {
  background-color: transparent;
  color: #fff; }

.popUp.vermelho div:nth-child(3) button:nth-child(1) {
  background-color: #d04b38;
  color: #fff; }

.popUp.vermelho div:nth-child(3) button:nth-child(1):hover {
  background-color: #d86959; }

.popUp.vermelho div:nth-child(3) button:nth-child(2) {
  background-color: #d04b38;
  color: #fff; }

.popUp.vermelho div:nth-child(3) button:nth-child(2):hover {
  background-color: #d86959; }

/* normal */
.popUpFundo.normal {
  background-color: rgba(0, 0, 0, 0.8); }

.popUp.normal {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); }

.popUp.normal > h1 {
  background-color: #000;
  color: #fff; }

.popUp.normal div:nth-child(3) {
  background-color: #ccc; }

.popUp.normal.confirm div:nth-child(3) button:nth-child(1) {
  background-color: #f3f3f3;
  width: calc(50% - 10px);
  height: calc(100% - 10px);
  margin: 5px 5px 5px 7px; }

.popUp.normal.alert div:nth-child(3) button:nth-child(1) {
  background-color: #f3f3f3;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  margin: 5px; }

.popUp.normal div:nth-child(3) button:nth-child(1):hover {
  background-color: #fff; }

.popUp.normal div:nth-child(3) button:nth-child(2) {
  background-color: #f3f3f3;
  margin: 5px 5px 5px 2px; }

.popUp.normal div:nth-child(3) button:nth-child(2):hover {
  background-color: #fff; }

.popUp.normal.confirm div:nth-child(3) button:nth-child(2) {
  width: calc(50% - 10px);
  height: calc(100% - 10px); }

.popUp.normal.alert div:nth-child(3) button:nth-child(2) {
  width: calc(100% - 10px);
  height: calc(100% - 10px); }

/* USA */
.popUpFundo.usa {
  background-color: rgba(0, 0, 0, 0.8); }

.popUp.usa {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); }

.popUp.usa div:nth-child(3) button {
  color: #fff; }

.popUp.usa.confirm div:nth-child(3) button:nth-child(1) {
  background-color: #f25f49;
  width: 50%;
  height: 100%; }

.popUp.usa.alert div:nth-child(3) button:nth-child(1) {
  background-color: #49a8f2;
  width: 100%;
  height: 100%; }

.popUp.usa.alert div:nth-child(3) button:nth-child(1):hover {
  background-color: #66b6f4; }

.popUp.usa div:nth-child(3) button:nth-child(1):hover {
  background-color: #f47966; }

.popUp.usa div:nth-child(3) button:nth-child(2) {
  background-color: #49a8f2; }

.popUp.usa div:nth-child(3) button:nth-child(2):hover {
  background-color: #66b6f4; }

.popUp.usa.confirm div:nth-child(3) button:nth-child(2) {
  width: 50%;
  height: 100%; }

/****** ANIMAÇÕES */
/*fade*/
.popUp.fade {
  animation: fade 0.5s;
  -webkit-animation: fade 0.5s;
  -moz-animation: fade 0.5s;
  -ms-animation: fade 0.5s;
  -o-animation: fade 0.5s;
  animation-fill-mode: forwards; }

.popUpFundo.fade {
  animation: fadeFundo 0.5s;
  -webkit-animation: fadeFundo 0.5s;
  -moz-animation: fadeFundo 0.5s;
  -ms-animation: fadeFundo 0.5s;
  -o-animation: fadeFundo 0.5s;
  animation-fill-mode: forwards; }

.popUp.fadeOut {
  animation: fadeOut 0.5s;
  -webkit-animation: fadeOut 0.5s;
  -moz-animation: fadeOut 0.5s;
  -ms-animation: fadeOut 0.5s;
  -o-animation: fadeOut 0.5s;
  animation-fill-mode: forwards; }

.popUpFundo.fadeOut {
  animation: fadeOutFundo 0.5s;
  -webkit-animation: fadeOutFundo 0.5s;
  -moz-animation: fadeOutFundo 0.5s;
  -ms-animation: fadeOutFundo 0.5s;
  -o-animation: fadeOutFundo 0.5s;
  animation-fill-mode: forwards; }

@-webkit-keyframes fade {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.001, 0.001); }
  75% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1, 1.1); }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%; } }
@-moz-keyframes fade {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.001, 0.001); }
  75% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1, 1.1); }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%; } }
@-ms-keyframes fade {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.001, 0.001); }
  75% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1, 1.1); }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%; } }
@-o-keyframes fade {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.001, 0.001); }
  75% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1, 1.1); }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%; } }
@keyframes fade {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.001, 0.001); }
  75% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1, 1.1); }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%; } }
@-webkit-keyframes fadeFundo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeFundo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeFundo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeFundo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeFundo {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%; }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.001, 0.001); } }
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%; }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.001, 0.001); } }
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%; }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.001, 0.001); } }
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%; }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.001, 0.001); } }
@keyframes fadeOut {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%; }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.001, 0.001); } }
@-webkit-keyframes fadeOutFundo {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes fadeOutFundo {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-ms-keyframes fadeOutFundo {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-o-keyframes fadeOutFundo {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOutFundo {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/* bola */
.popUp.bola {
  animation: bola 0.5s ease-in-out;
  -webkit-animation: bola 0.5s ease-in-out;
  -moz-animation: bola 0.5s ease-in-out;
  -ms-animation: bola 0.5s ease-in-out;
  -o-animation: bola 0.5s ease-in-out;
  animation-fill-mode: forwards; }

.popUpFundo.bola {
  animation: fadeFundo 0.5s;
  -webkit-animation: fadeFundo 0.5s;
  -moz-animation: fadeFundo 0.5s;
  -ms-animation: fadeFundo 0.5s;
  -o-animation: fadeFundo 0.5s;
  animation-fill-mode: forwards; }

.popUp.bolaOut {
  animation: bolaOut 0.3s ease-in-out;
  -webkit-animation: bolaOut 0.3s ease-in-out;
  -moz-animation: bolaOut 0.3s ease-in-out;
  -ms-animation: bolaOut 0.3s ease-in-out;
  -o-animation: bolaOut 0.3s ease-in-out;
  animation-fill-mode: forwards; }

.popUpFundo.bolaOut {
  animation: fadeOutFundo 0.3s;
  -webkit-animation: fadeOutFundo 0.3s;
  -moz-animation: fadeOutFundo 0.3s;
  -ms-animation: fadeOutFundo 0.3s;
  -o-animation: fadeOutFundo 0.3s;
  animation-fill-mode: forwards; }

@-webkit-keyframes bola {
  0% {
    opacity: 1;
    border-radius: 100%;
    transform: translate(-50%, -50%) scale(0.001, 0.001); }
  75% {
    transform: translate(auto, auto) scale(1.1, 1.1); }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%; } }
@-moz-keyframes bola {
  0% {
    opacity: 1;
    border-radius: 100%;
    transform: translate(-50%, -50%) scale(0.001, 0.001); }
  75% {
    transform: translate(auto, auto) scale(1.1, 1.1); }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%; } }
@-ms-keyframes bola {
  0% {
    opacity: 1;
    border-radius: 100%;
    transform: translate(-50%, -50%) scale(0.001, 0.001); }
  75% {
    transform: translate(auto, auto) scale(1.1, 1.1); }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%; } }
@-o-keyframes bola {
  0% {
    opacity: 1;
    border-radius: 100%;
    transform: translate(-50%, -50%) scale(0.001, 0.001); }
  75% {
    transform: translate(auto, auto) scale(1.1, 1.1); }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%; } }
@keyframes bola {
  0% {
    opacity: 1;
    border-radius: 100%;
    transform: translate(-50%, -50%) scale(0.001, 0.001); }
  75% {
    transform: translate(auto, auto) scale(1.1, 1.1); }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%; } }
@-webkit-keyframes bolaOut {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%; }
  25% {
    transform: translate(auto, auto) scale(1.1, 1.1); }
  100% {
    opacity: 1;
    border-radius: 100%;
    transform: translate(-50%, -50%) scale(0.001, 0.001); } }
@-moz-keyframes bolaOut {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%; }
  25% {
    transform: translate(auto, auto) scale(1.1, 1.1); }
  100% {
    opacity: 1;
    border-radius: 100%;
    transform: translate(-50%, -50%) scale(0.001, 0.001); } }
@-ms-keyframes bolaOut {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%; }
  25% {
    transform: translate(auto, auto) scale(1.1, 1.1); }
  100% {
    opacity: 1;
    border-radius: 100%;
    transform: translate(-50%, -50%) scale(0.001, 0.001); } }
@-o-keyframes bolaOut {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%; }
  25% {
    transform: translate(auto, auto) scale(1.1, 1.1); }
  100% {
    opacity: 1;
    border-radius: 100%;
    transform: translate(-50%, -50%) scale(0.001, 0.001); } }
@keyframes bolaOut {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%; }
  25% {
    transform: translate(auto, auto) scale(1.1, 1.1); }
  100% {
    opacity: 1;
    border-radius: 100%;
    transform: translate(-50%, -50%) scale(0.001, 0.001); } }
/* flip vertical */
.popUp.flipX {
  animation: flipX 0.5s;
  -webkit-animation: flipX 0.5s;
  -moz-animation: flipX 0.5s;
  -ms-animation: flipX 0.5s;
  -o-animation: flipX 0.5s;
  animation-fill-mode: forwards; }

.popUpFundo.flipX {
  animation: fadeFundo 0.5s;
  -webkit-animation: fadeFundo 0.5s;
  -moz-animation: fadeFundo 0.5s;
  -ms-animation: fadeFundo 0.5s;
  -o-animation: fadeFundo 0.5s;
  animation-fill-mode: forwards; }

.popUp.flipXOut {
  animation: flipXOut 0.3s;
  -webkit-animation: flipXOut 0.3s;
  -moz-animation: flipXOut 0.3s;
  -ms-animation: flipXOut 0.3s;
  -o-animation: flipXOut 0.3s;
  animation-fill-mode: forwards; }

.popUpFundo.flipXOut {
  animation: fadeOutFundo 0.3s;
  -webkit-animation: fadeOutFundo 0.3s;
  -moz-animation: fadeOutFundo 0.3s;
  -ms-animation: fadeOutFundo 0.3s;
  -o-animation: fadeOutFundo 0.3s;
  animation-fill-mode: forwards; }

@-webkit-keyframes flipX {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.001, 0.001) scaleX(-1); }
  75% {
    transform: translate(auto, auto) scale(1.1, 1.1) scaleX(1); }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%; } }
@-moz-keyframes flipX {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.001, 0.001) scaleX(-1); }
  75% {
    transform: translate(auto, auto) scale(1.1, 1.1) scaleX(1); }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%; } }
@-ms-keyframes flipX {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.001, 0.001) scaleX(-1); }
  75% {
    transform: translate(auto, auto) scale(1.1, 1.1) scaleX(1); }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%; } }
@-o-keyframes flipX {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.001, 0.001) scaleX(-1); }
  75% {
    transform: translate(auto, auto) scale(1.1, 1.1) scaleX(1); }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%; } }
@keyframes flipX {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.001, 0.001) scaleX(-1); }
  75% {
    transform: translate(auto, auto) scale(1.1, 1.1) scaleX(1); }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%; } }
@-webkit-keyframes flipXOut {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%; }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.001, 0.001) scaleX(-1); } }
@-moz-keyframes flipXOut {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%; }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.001, 0.001) scaleX(-1); } }
@-ms-keyframes flipXOut {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%; }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.001, 0.001) scaleX(-1); } }
@-o-keyframes flipXOut {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%; }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.001, 0.001) scaleX(-1); } }
@keyframes flipXOut {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%; }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.001, 0.001) scaleX(-1); } }
/* flip horizontal */
.popUp.flipY {
  animation: flipY 0.5s;
  -webkit-animation: flipY 0.5s;
  -moz-animation: flipY 0.5s;
  -ms-animation: flipY 0.5s;
  -o-animation: flipY 0.5s;
  animation-fill-mode: forwards; }

.popUpFundo.flipY {
  animation: fadeFundo 0.5s;
  -webkit-animation: fadeFundo 0.5s;
  -moz-animation: fadeFundo 0.5s;
  -ms-animation: fadeFundo 0.5s;
  -o-animation: fadeFundo 0.5s;
  animation-fill-mode: forwards; }

.popUp.flipYOut {
  animation: flipYOut 0.3s;
  -webkit-animation: flipYOut 0.3s;
  -moz-animation: flipYOut 0.3s;
  -ms-animation: flipYOut 0.3s;
  -o-animation: flipYOut 0.3s;
  animation-fill-mode: forwards; }

.popUpFundo.flipYOut {
  animation: fadeOutFundo 0.3s;
  -webkit-animation: fadeOutFundo 0.3s;
  -moz-animation: fadeOutFundo 0.3s;
  -ms-animation: fadeOutFundo 0.3s;
  -o-animation: fadeOutFundo 0.3s;
  animation-fill-mode: forwards; }

@-webkit-keyframes flipY {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.001, 0.001) scaleY(-1); }
  75% {
    transform: translate(auto, auto) scale(1.1, 1.1) scaleY(1); }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%; } }
@-moz-keyframes flipY {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.001, 0.001) scaleY(-1); }
  75% {
    transform: translate(auto, auto) scale(1.1, 1.1) scaleY(1); }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%; } }
@-ms-keyframes flipY {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.001, 0.001) scaleY(-1); }
  75% {
    transform: translate(auto, auto) scale(1.1, 1.1) scaleY(1); }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%; } }
@-o-keyframes flipY {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.001, 0.001) scaleY(-1); }
  75% {
    transform: translate(auto, auto) scale(1.1, 1.1) scaleY(1); }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%; } }
@keyframes flipY {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.001, 0.001) scaleY(-1); }
  75% {
    transform: translate(auto, auto) scale(1.1, 1.1) scaleY(1); }
  100% {
    opacity: 1;
    top: 50%;
    left: 50%; } }
@-webkit-keyframes flipYOut {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%; }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.001, 0.001) scaleY(-1); } }
@-moz-keyframes flipYOut {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%; }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.001, 0.001) scaleY(-1); } }
@-ms-keyframes flipYOut {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%; }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.001, 0.001) scaleY(-1); } }
@-o-keyframes flipYOut {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%; }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.001, 0.001) scaleY(-1); } }
@keyframes flipYOut {
  0% {
    opacity: 1;
    top: 50%;
    left: 50%; }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.001, 0.001) scaleY(-1); } }
@media screen and (min-width: 994px) {
  .popUp {
    font-size: 14px; 
    border-radius: 2px;
    transform: translate(-50%, -55%);
  }

  .popUp button {
    font-size: 14px; }

  .popUp > div:nth-child(2) {
    height: calc(100% - 85px); }

  .popUp > div:nth-child(3) {
    height: 50px; }

  .popUp.p {
    max-width: 350px;
    max-height: 250px; }

  .popUp.m {
    max-width: 400px;
    max-height: 300px; }

  .popUp.m-quad {
    max-width: 400px;
    max-height: 400px; }

  .popUp.g {
    max-width: 500px;
    max-height: 400px; }

  .popUp.glong {
    max-width: 400px;
    max-height: 510px; }

  .popUp > h1 {
    height: 35px;
    font-size: 1.5em; }

  .popUpXis {
    position: relative;
    width: 40px;
    font-size: 1.1em; }

  .popUpXisComp {
    width: 40px; }

  .popUpHtext {
    display: inline-block;
    width: 100%;
    height: 100%; }

  .popUpHtextX {
    width: calc(100% - 80px); } }

