/** IMPRESSÃO **/ 

#head-print{
    color             : #555;
    display           : block;
    background-color    : #f0f;
}

#head-print h1{
    float             : left;
}

#head-print img{
    float             : right;
}

#format-print{
    display           : block;
    margin-top        : 30px;
}
.columnValue{
    width   : 30px;
}
#printTables{
    padding : 20px;
}
.columnValue{
    width   : 30px;
}
#printTables{
    padding : 20px;
}

#head-print{
    background          : url('/images/logo-grayscale.png') no-repeat 3px 0px;
    height              : 54px;
    color               : #555;
    padding             : 1px 0px 1px 75px;
    margin              : 5px 0px 10px 0px;
}

img .printIcon {
	width: 10px!;
	display: none;
}

/** IMPRESSÃO - FIM **/ 


