    

h1{
    text-align: center;
}
#form{
    background-color: #e0dfdf;
}
#form th{
    background-color: transparent !important;
    background-image: none;
}
#form input, #form select{
    box-sizing: border-box;
    width: calc(100% - 10px);
    padding: 5px;
    margin: 2px 5px;
    background-color: #fff;
    border: 1px solid #ccc;
}
#form input[type=button]{
    background-color: #488343;
    color: #fff;
    cursor: pointer;
}
#result td:last-child{
    text-align: right;
}
.info{
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    font-size: 1em;
    border-collapse: collapse;
    border: 1px solid #ccc;
}
.info tr:nth-child(odd){
    background-color: #f5f5f5;
}
.info td{
    padding: 5px;
}