#containercolumns {
 margin-bottom: 2px;
 overflow: auto; /* Paul O Brien Fix for IE www.pmob.co.uk */
 background: #ADC387;
 padding: 5px;
}
#rightcolumn { 
 float: right;
 color: #161616;
 margin: 5px;
 padding: 0px;
 width: 16%;
 display: inline;
 position: relative;
}
#leftcolumn { 
 float: left;
 color: #161616;
 margin: 5px;
 padding: 0px;
 width: 80%;
 display: inline;
 position: relative;
 height: 80%;
}

#save_button {
    background-color: #ff7d72; 
    padding: 2px 4px;
    font: bold 13px sans-serif;
    text-decoration: none;
    border: 1px solid #000;
    border-color: #aaa #444 #444 #aaa;
    color: #000
}
.clear { clear: both; background: none; }

.box {
	width: 86%;
	border: 2px solid #2F462B;
	padding: 4px 7px;
	margin: 4px;
}
.box a{
	float: right; 	
}
.box img{
	border-style: none;
}
.boxIE {
	width: 86%;
	border: 2px solid #2F462B;
	padding: 4px 7px;
	margin: 5px;
	float: center;
}
.boxIE a{
	float: center; 		
}
.boxIE img{
	border-style: none;
}

