#material-tree *
{
    box-sizing: border-box;
}

#material-tree ul, #material-tree li {
    list-style: none;
    overflow: visible;
    margin-right: -1px;
    margin-bottom: -1px;
}

#material-tree > ul{
    padding: 0;
}

#material-tree .sortable-item .handler{
    padding: 0.5em;
    display: inline-block;
    background-color: antiquewhite;
}

#material-tree .sortable-item .sortable-handler{
    cursor: grab;
}

#material-tree .sortable-item .collapsable-handler{
    cursor: pointer;
}

.sortable-header{
    padding: 0.5em;
}

label.filtro{
    padding: 6px;
    background-color: #f3f3f3;
    border-left: 2px solid #9db79b;
    display: inline-block;
    margin-left: 5px;
    margin-top:10px;
    cursor: pointer;
}

.sortable-header .title{
    flex: .5;
    white-space: nowrap;
    overflow: hidden;
    max-width: 70em;
    display: inline-block;
    text-overflow: ellipsis;
}

.sortable-header .actions
{
    float: right;
    flex: .3;
}

.sortable-header:hover{
    opacity: 1;
}

.sortable-item {
    border: solid 1px rgba(152, 152, 152, 0.5);
    border-radius: 4px;
    width: 100%;
    background-color: rgba(225, 220, 220, 0.5);
    list-style: none;
}

.sortable-header.active{
    opacity: 1;
}


.sortable-header{
    opacity: 0.5;
}

.sortable{
    padding-left: 3em;
}

.extra-data{
    min-width: 60%;
    white-space: nowrap;
    padding: 0.3em;
    font-size: 1em;
    width: 100%;
}

.data-item {
    width: 15%;
    overflow: hidden;
    max-width: 190px;
    text-overflow: ellipsis;
}

.content-editor{
    padding: 1em;
}

.sortable-item.new-item
{
    border-style: dashed;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    /*height: 5.6em;*/
    color: gray;
}

a.link-action{
    text-decoration: none;
}

a.collapsable{
    display: block;
    /*height: 100%;*/
}

.actions a{
    display: inline-block;
}

.hidden-content{
    display: none;
}

.sortable-header.active + .hidden-content{
    display: block;
}

.data-label{
    color: #6f6f6f;
}

.sortable-item .right-answer{
    padding: .1em .3em;
    color: white;
    background-color: darkgreen;
    border-radius: .1em;
    display: inline-block;
    width: 5em;
}

.sortable-item .formula-answer{
    padding: .1em .3em;
    color: white;
    background-color: #3e3e3e;
    border-radius: .1em;
    display: inline-block;
    width: 5em;
}

.sortable-item .wrong-answer{
    padding: .1em .3em;
    color: white;
    background-color: #642009;
    border-radius: .1em;
    display: inline-block;
    width: 5em;
}