/* 
    Created on : 08/10/2018, 16:03:24
    Author     : paulo
*/

.content{
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
#newSubscriber_display,#newUnscriber_display{
    display: block;
    width: 100%;
    height: 20px;
    padding: 10px 0;
}
.aviso{
    padding: 20px;
    text-align: center;
    background-color: #f1f1a0;
    border: 1px solid #c3c31e;
}
fieldset button{
    display: block;
    margin: 10px 18px 10px auto;
}
fieldset input[type="submit"]{
    display: block;
    margin: 10px 10px auto auto;

}
.tableList{
    border-spacing: 0;
    border-collapse: collapse;
}
.tableList tr{
    border: 1px solid #ccc;
}
.tableList td{
    border: none;
}
.tablelist td:nth-child(2){
    text-align: right;
}
.tableList input{
    vertical-align: middle;
}
.deleteUnscriber, .deleteSubscriber{
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url('/css/icons/delete.svg');
}
.fieldsetFormulario .tableList td{
    padding: 5px;
    border: none;
}
#deliverBot{
    width: 100px;
    padding: 10px;
    color: #fff;
    border: none;
    background-color: #2b4326;
    cursor: pointer;
}
.delivery_people{
    width: 100%;
    margin: 0;
    font-size: 1em;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #ccc;
}
.delivery_people th{
    text-align: center;
    font-weight: bold;
    background-color: rgba(0,0,0,0.1);
}
.delivery_people td, .delivery_people th{
    padding: 5px;
    border: 1px solid #ccc;
}
.delivery_people tr:nth-child(odd){
    background-color: rgba(0,0,0,0.04);
}
.delivery_people td:last-child{
    text-align: right;
}
.slide{
    display: block;
    padding: 5px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}
#logLink{
    padding: 0;
    margin: 20px 0 0 0;
    text-align: right;
}
#delivery_people_list{
    display: none;
}
.icoSlide{
    width: 15px;
    height: 11px;
    text-align: center;
    font-size: 10px;
    border: 1px solid #ccc;
    float: right;
}
.icoSlide::after{
    content: "+";
}
.show .icoSlide::after{
    content: "-";
}
.tableList input[type=checkbox] {
    display: none;
}

.tableList input[type=checkbox] + label span{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    vertical-align: middle;
    border: 1px solid #999;
    border-radius: 2px;
}
.tableList label{
    cursor: pointer;
}
.tableList input[type=checkbox]:checked + label span{
    content: "✓";
    font-size: 14px;
    text-align: center;
    color: #2c4326;
    background-color: #d0f7c5;
    border-color: #2c4326;
}
.tableList input[type=checkbox]:checked:disabled + label span{
    font-size: 14px;
    text-align: center;
    color: #999;
    background-color: #f5f5f5;
    border-color: #999;
}
.tableList input[type=checkbox]:checked + label span::after{
    content: "✓";
}