/* 
    Created on : 09/05/2018, 16:15:56
    Author     : paulo
*/
@page {
    margin-top: 3cm;
    header: pageHeader;
    footer: pageFooter;
    
}

body{
    margin-top: 100px;
    font-family: Verdana, Arial;
    font-size: 14px;
}
h2{
    font-weight: normal;
    font-size: 1.5em;
    font-weight: bold;
}
p{
   
}
div{
    page-break-inside: avoid;
}
table{
  
    width: 100%;
    border-collapse: collapse;
    border-width: 1px;
    border-style: none none solid none;
    border-color: #ccc;
    page-break-inside: avoid;
}
th{
   background-color: #e5e5e5;
}
tr:nth-child(odd){
    background-color: #f5f5f5;
}
td{
    
}
td, th{
    text-align: center;
    margin: 0;
    padding: 5px;
    border-width: 1px;
    border-style: solid solid none solid;
    border-color: #ccc;
}
#pageHeader{
    display: block;
    vertical-align: middle;
    font-size: 20px;
    border-bottom: 1px solid black;
}
#headerName{
    font-size: 2em;
    font-weight: bold;
}
#pageFooter{
    display: block;
    
}
#footerTable{
    border-top: 1px solid black;
}
#headerTable{
    border-bottom: 1px solid black;
}

#summary{
    margin: 0;
}
#summary td{
    text-align: left;
}
#headerImage{
    width: 2cm;
}
.headerFooter{
    margin: 0;
    border: none;
    
    background-color: transparent;
}
.headerFooter tr{
    background-color: transparent;
}
.headerFooter td{
    background-color: transparent;
    border: none;
}
.headerFooter td:nth-child(1){
    text-align: left;
}
.headerFooter td:nth-child(2){
    text-align: center;
}
.headerFooter td:nth-child(3){
    text-align: right;
}
#footerTable td{
    width: 33%;
}

.analise{
   
    padding: 5px;
    border: 1px solid #ccc;
}
.trainner{
    width: 4cm;
}

