<!--INIMOCK-->
<?php
$T = $this->translate;
?>
<div><?=$T->_("Olá, %1", $this->user_name)?></div>
<div><?=$this->diocese_name?></div>
<h1><?=$T->_("Situação administrativa e financeira da Diocese")?></h1>

<div>
    <h2><?=$T->_("Recursos enviados para o setor")?></h2>
    <a href = "<?=$this->sended_to_sector_link?>"><img src = "/images/icons/info.png"/></a>
    <?foreach($this->sended_to_sector as $sended):?>
    <div><div><?=$sended["name"]?> --- <?=$sended["value"]?></div></div>
    <?endforeach?>
    <div><?=$this->sended_to_sector_total?></div>
</div>


<div>
    <h2><?=$T->_("Monitor de Gestão e Prestação de contas")?></h2>
    <a href = "<?=$this->monitor_indicators_link?>"><img src = "/images/icons/info.png"/></a>
    <?foreach($this->monitor_indicators as $indicator):?>
    <div><div><?=$indicator["name"]?> --- <?=$indicator["value"]?> <a href = "<?=$indicator["link"]?>"><img src = "/images/icons/info.png"/></a> </div></div>
    <?endforeach?>
    <div><?=$this->monitor_indicator_nota_1_a_5?> <!--colocar imagem--></div>
</div>


<div>
    <h2><?=$T->_("Prestação de contas por tipo")?></h2>
    <a href = "<?=$this->pg_types_link?>"><img src = "/images/icons/info.png"/></a>
    <?foreach($this->pg_types as $pg_type):?>
    <div><div><?=$pg_type["name"]?> --- <?=$pg_type["value"]?></div></div>
    <?endforeach?>
    <div><?=$this->pg_types_total[0]?> <?=$this->pg_types_total[1]?> <?=$this->pg_types_total[2]?></div>
</div>


<div>
    <h2><?=$T->_("Parecer do Coordenador Diocesano sobre os gastos dos Ramos")?></h2>
    <a href = "<?=$this->coordinator_details_link?>"><img src = "/images/icons/info.png"/></a>
    <?foreach($this->coordinator_details as $coordinator_detail):?>
    <div><div><?=$coordinator_detail["id"]?> --- <?=$coordinator_detail["name"]?> --- <?=$coordinator_detail["notas"]?> --- <?=$coordinator_detail["value"]?>--- <?=$coordinator_detail["pc"]?> <a href = "<?=$indicator["link"]?>"><img src = "/images/icons/info.png"/></a> </div></div></div></div>
    <?endforeach?>
    <div><?=$this->pg_types_total[0]?> <?=$this->pg_types_total[1]?> <?=$this->pg_types_total[2]?></div>
</div>


<div name="monitor_paroquias">
<!-- PAroquias para selecioanr -->
<div name="monitor_painel_paroquias">
    <?foreach($this->parishes as $parish):?>
        <div id="parish_<?=$parish["id"]?>"><?=$parish["id"]?> - <?=$parish["name"]?></div>
    <?endforeach?>
</div>
<!-- Dados da paróquia selecionada -->
<div name="monitor_painel_detalhe_paroquias">
    <?$count=0?>
    <?foreach($this->parishes as $parish):?>
        <?
        //Para simular o primeiro selecionado...
        $count++;
        if($count == 1){
            $show = "block";
        }else{
            $show = "none";
        }
        ?>
        <div style="display:<?=$show?>" id="parish_detail_<?=$parish["id"]?>">
            <div><div><?=$T->_("Última PG")?></div> <div><?=$parish["last_pg"]?></div></div>
            <div><div><?=$T->_("Saldo última PG")?></div> <div><?=$parish["saldo_last_pg"]?></div></div>
            <div><div><?=$T->_("Receitas após última PG")?></div> <div><?=$parish["receita_last_pg"]?></div></div>
            <div><div><?=$T->_("Saldo final a prestar contas")?></div> <div><?=$parish["saldo_final_last_pg"]?></div></div>
        </div>
    <?endforeach?>
</div>

</div>
<!--FIMMOCK-->
