
.input_artifact_path, input_artifact_image_path{
    cursor: pointer;
}

#ArtifactList.popUp *{
    line-height: initial;
}
#ArtifactList.popUp *:focus{
    outline: #73e093;
    background-color: rgb(203,241,203);
}

#ArtifactList.popUp > div:nth-child(2) > div{
    height: 100%;
}

#ArtifactList input{
    width: 100%;
    padding: 10px;
    border-style: none;
}

#ArtifactList input:focus{
    background-color: rgb(203,241,203);
}

#searchArtifact{
    text-align: center;
}
#searchArtifact:focus{
    outline: none;
}

.popUp .artifactList{
    margin: 0 0 20px 0;
    width: 350px;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.artifactList tr{
    cursor: pointer;
    border-width: 1px;
    border-style: none none solid none;
}

.artifactList tr:hover{
    background-color: #d5d5d5;
}

.artifactList td{
    padding: 5px;
}

.colorContainer{
    position: relative;
}

.colorContainer label{
    position: absolute;
    margin: 13px;
}

.input_artifact_image_path {
    cursor: pointer;
}

/*  talvez relocar */
    .artifactWrapper{
        width: 100%;
    }
    #formatContent input, #formatContent select{
        width: 100%;
        min-width: 300px;
    }
    .container{
        
        display: block;
        width: 100%;
        max-width: 400px;
        max-height: 400px;
        margin: 15px 0 20px 0;
        padding: 5px;
        background-color: #ccc;
        text-align: center;
        clear: both;
    }
    .container img, .container video, .container audio{
        
        max-height: 390px;
        max-width: 380px;
    }
    .container p{
        
        margin: 0;
        padding: 5px;
        text-align: center;
        font-weight: bold;
    }
    .icons{
        
        position: absolute;
        height: 20px;
        width: 385px;
        margin: -5px 0 auto auto;
        text-align: right;
        z-index: 2;
    }
    .ico{
   
        display: inline-block;
        width: 20px;
        height: 20px;
    }
    .delete{
        
        background-image: url("../../icons/delete.svg");
        cursor: pointer;
        z-index: 2;
    }