/* 
    Created on : 21/09/2018, 10:16:57
    Author     : Paulo Navarro
*/

.formLabel{
    font-size: 60px;
    margin: 40px 0 30px 0;;
}

label{
    
    display: block;
    margin: 5px;
    font-family: Verdana, Arial;
    font-size: 40px;
}

.input5Star{
    display: block;
    font-size: 0;
}

.input5Star *{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input5Star .star{
    
    box-sizing: border-box;
    width: calc(20% - 8px);
    margin: 4px;
    fill: #CCC;
    cursor: pointer;
}

.input5Star .star.markColor{
    fill: #ED8A19;
}

.input5Star .star.mark{
    animation: pulse 0.3s;
}

.input5Star .star.mark:nth-child(2){
    animation-delay: 0.05s;
}

.input5Star .star.mark:nth-child(3){
    animation-delay: 0.1s;
}

.input5Star .star.mark:nth-child(4){
    animation-delay: 0.15s;
}

.input5Star .star.mark:nth-child(5){
    animation-delay: 0.2s;
}

@media screen and (min-width: 1000px){
    
    .formLabel{
        font-size: 14px;
        margin: 0;
    }
    
    .input5Star{
        max-width: 200px;
    }
}

@keyframes pulse {
    
    0% {transform: scale(1);}
    50% {transform: scale(1.2); fill: #edd019; stroke: #edd019;}
    100% {transform: scale(1);}
}
