
.popUp label, .popUp select, .popUp input {
    display: block;
    width: 280px;
    padding: 10px;
}

.jsonGraph{
    width: 100%;
    padding: 4px;
    margin: 0 0 5px 0;
    background-color: #fff;
    border: 1px solid #2b4326;
}

.jsonGraph.error{
    background-color: #ffcaca;
    border: 1px solid red;
}

.jsonGraph.error .jsonWrapper{
    background-color: rgba(251, 105, 105, 0.222);
}

.jsonButtons span{
    display: inline-block;
    margin: 5px;
    padding: 10px;
}

.jsonWrapper{
    margin: 2px 0 2px 10px;
    padding: 4px;
    background-color: rgba(150, 185, 206, 0.222);
}

.jsonWrapper .ico{
    width: 10px;
    height: 10px;
    margin: 0 5px 0 0;
    vertical-align: middle;
}

.jsonKey{
    display: inline-block;
    width: calc(50% - 5px);
    
}
.jsonVal{
    display:inline-block;
    width: calc(50% - 5px);
    
}
.jsonVal:after { 
     content: "\A";
     white-space: pre; 
}
.hide{
    display: none;
}
.hideKey .jsonKey{
    display: none;
}
.jsonButtons{
    text-align: right;
}
.jsonButtons span{
    padding: 10px;
    margin: 0 5px;;
    color: #fff;
    background-color: #2b4326;
    cursor: pointer;
}
.jsonButtons span:last-child{
    margin-right: 0;
}
.jsonButtons span:hover{
    background-color: #497b3e;
}
.jsonSwitch{
    display: block;
    width: 100%;
    text-align: right;
}
.jsonSwitch span{
    display: inline-block;
    width: 25px;
    height: 25px;
    font-size: 9px;
    font-weight: bold;
    white-space: nowrap !important;
    line-height: 16px;
    padding: 3px;
    margin: 2px;
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 50%;
}
.jsonSwitch.opened span{
    color: #fff;
    border-color: #2b4326;
    background-color: #2b4326;
    cursor: pointer;
}
.inputJson{
    width: 100%;
    height: 200px;
}