/* 
    Created on : 21/09/2018, 10:16:57
    Author     : Paulo Navarro
*/

.inputTrueFalse{
    display: flex;
    width: 100%;
    background-color: #ddd;
    border-radius: 620px;
}
.inputTrueFalse *{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.inputTrueFalse div{
    display: inline-block;
    padding: 30px;
    flex: 1;
    text-align: center;
    border-radius: 620px;
    cursor: pointer;
}

.markFalse{
    background-color: rgba(255,189,189,1);
}
.markTrue{
    background-color: rgb(177,236,177);
}
.inputTrueFalse svg{
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    margin: 4px;
    fill: rgba(0,0,0,0.3);
    cursor: pointer;
}

.mark .optionTrue path{
    fill: rgb(9,165,26);
}
.markFalse .optionTrue path, .markTrue .optionFalse path{
    fill: rgba(0,0,0,0.2);
}
.mark .optionFalse path{
    fill: #e61125;
}

@media screen and (min-width: 1000px){
    .inputTrueFalse{
        max-width: 200px;
    }
    
    .inputTrueFalse div{
        padding: 5px;
    }
}