
:root{
    --backLightColor: #75bf66;
    --backDarkColor : #2b4326;
}

.bighead div{
    background-color: #f3f3f3 !important;
    padding: 5px;
    border: none;
}

.tableReport .filter{
    padding: 3px;
    font-weight: normal;
    text-align: right;
}

.ico{
    display: inline-block;
    width: 20px;
    min-height: 20px;
    text-align: center;
    vertical-align: middle;
    background-size: 10px 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.ico.active{
    background-color: #60b760;
}
.filterIco{
    background-image: url('../icons/filter_shape.svg');
}
.filterIco.active{
    width: calc(100% - 50px);
    height: auto;
    padding: 2px 20px 2px 5px;
    font-size: 14px;
    text-align: left;
    background-position: right 5px center;
    border-radius: 3px;
}
.filterIco.active.lonely{
    box-sizing: border-box;
    width: 100%;
}
.order::after{
    content: "▼";
}
.order.desc::after{
    content: "▲";
}

.filterBlock *{
    box-sizing: border-box;
}

.filterBlock h3{
    margin: 0;
}
.filterBlock select{
    display: block;
    width: 200px;
    height: 30px;
    padding: 5px;
    margin: 5px 0;
    text-align: center;
    color: #fff;
    background-color: var(--backDarkColor);
    border: 0 none transparent;
}
.filterBlock select:hover, .filterBlock select:active{
    outline: none;
}
.filterBlock select option{
    display: block;
    color: var(--backDarkColor);
    background-color: rgba(255,255,255,0.5);
    text-align: center;
}
.filterBlock .filterValue.filterOperator{
    display: inline-block;
    padding: 5px 10px;
    width: 35px;
}
.filterBlock .filterValue{
    width: 165px;
    height: 30px;
    padding: 5px;
    color: #fff;
    margin: 5px 0;
    vertical-align: middle;
    border: none;
    background-color: var(--backDarkColor);
}
.filterBlock .filterValue::-webkit-outer-spin-button,
.filterBlock .filterValue::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.filterBlock .filterValue:hover, .filterBlock .filterValue:focus{
    outline:none;
}
.filterBlock .clearFilters{
    display: block;
    width: 200px;
    height: 30px;
    padding: 5px;
    margin: 10px 0 5px 0;
    text-align: center;
    color: var(--backDarkColor);
    background-color: var(--backLightColor);
    border: 0 none transparent;
    cursor: pointer;
}