label.filtro{
    padding: 6px;
    background-color: #f3f3f3;
    border-left: 2px solid #9db79b;
    display: inline-block;
    margin-left: 5px;
    margin-top:10px;
    cursor: pointer;
}

.extra-data{
    min-width: 60%;
    white-space: nowrap;
    padding: 0.3em;
    font-size: 1em;
    width: 100%;
}

.data-item {
    width: 15%;
    overflow: hidden;
    max-width: 190px;
    text-overflow: ellipsis;
}

a.link-action{
    text-decoration: none;
}

a.collapsable{
    display: block;
    /*height: 100%;*/
}

.collapsable-handler{
    padding: 0.5em;
    background-color: beige;
    margin: 0.5em;
}

.actions a{
    display: inline-block;
}

.actions{
    text-align: right;
}

.hidden-content{
    display: none;
}

.sortable-header.active + .hidden-content{
    display: block;
}

.data-label{
    color: #6f6f6f;
}

.vaccines-list{
    padding: 0;
    margin: 0;
    list-style: none;
}

.vaccines-list .vaccine{
    border: solid 1px rgba(152, 152, 152, 0.5);
    background-color: rgba(225, 220, 220, 0.5);
    border-radius: 5px;
}


.exceptions .vaccines-list{
    margin-left: 2em;
    margin-right: 1em;
}

.vaccines-root{
    margin-top: 1em;
}


.search{
    padding: 0;
    margin: 0;
}
