/* 
    Created on : 13/12/2018, 10:49:09
    Author     : Paulo Navarro
*/

* {
    --borderColor: rgba(0,0,0,0.3);
    --backColorSequence    : #ecebeb;
    --backColorDunno       : #ffebcc;
    --backColorNo          : #ffcccc;
    --backColorYes         : #d1ffcc;
    --backColorSubquestion : #feffcc;
    
    --errorBorderColor     : #c76c3d;
    --errorBackColor       : #de5e5e;
    --errorFontColor       : #fff;
    
    --exitBorderColor     : #c76c3d;
    --exitBackColor       : #f7c7af;
    --exitFontColor       : #c76c3d;
    
    --borderOneTimeVisibleYes : #74c57f;
    --borderOneTimeVisibleNot : #f59e9e;
    box-sizing: border-box;
}

.topic h2{
    padding: 10px 20px;
    background-color: #c8cac8;
    text-align: left;
}
.form{
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}
form input, form select, form label{
    width: 100%;
    margin: 0 auto;
}
form .formValue, form .formLabel {
    width: 400px;
    margin: 0 auto;
}
div td {
    vertical-align: top;
}
#topic_list{
    display: flex;
    flex-direction: column;
}
.topic{
    flex: 0 0 1%;
    padding: 0;
    margin: 0;
    border-width: 1px;
    border-style: none none none solid;
    border-color: var(--borderColor);
    text-align: left;
}
.question{
    display:block;
    margin: 0 5px 0 18px;
    padding: 10px 10px 5px 10px;
    vertical-align: top;
    font-size: 12px;
    text-align: left;
    background-color: #fff;
    border-width: 1px;
    border-style: none none none solid;
    border-color: var(--borderColor);
}
.question:hover{
    background-color: var(--backColorSequence);
}
.question.dunno:hover{
    background-color: var(--backColorDunno);
}
.question.no:hover{
    background-color: var(--backColorNo);
}
.question.yes:hover{
    background-color: var(--backColorYes);
}
.question.sub:hover{
    background-color: var(--backColorSubquestion);
}
.question div{
    text-align: left;
}
.question_content {
    display: none;
    margin: 0;
    padding: 2px 0 0 0;
}
.question_status{
    padding: 5px;
}
.collapse{
    text-align: center;
    padding: 2px;
    font-size: 12px;
    border: 1px solid rgba(0,0,0,0.3);
}
.collapse.min:after{
    content: "-";
}
.collapse.max:after{
    content: "+";
}
.icons{
    display: inline-block;
}
.icon{
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 3px;
    background-size: 95%;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.edit{
    background-image: url('../icons/edit_basic.svg');
}
.status, .type {
    display: inline-block;
    padding: 5px;
    margin: 0 2px 0 0;
    vertical-align: middle;
    border-style: none;
    border-radius: 5px;
}
.status.yes{
    background-color: #88ec88;
}
.status.no{
    background-color: #ec8888;
}
.status.dunno{
    background-color: #ecdc88;
}
.status.sequence{
    background-color: #e0dede;
}
.status.text{
    background-color: #ccc;
}
.status.sub{
     background-color: #ece587;
}

.type.text, .type.logic, .type.date, .type.message{
    background-color: #e0dede;
}

.errors{
    display: block;
    color: var(--errorFontColor);
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    border: 1px solid var(--errorBorderColor);
    background-color: var(--errorBackColor);
}

.errors a{
    color: #fff;
}
#topics_list {
    display: flex;
    flex-direction: column;
}

.question .warning{
    display: block;
    width: 150px;
    text-align: center;
    margin: 5px 5px 5px 32px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
}

.question .warning p{
    padding: 0;
}

.question .exit{
    color: var(--exitFontColor);
    background-color: var(--exitBackColor);
    border-color: var(--exitBorderColor);
}
#topics_list{
    box-sizing: border-box;
    display: block;
    width: 100%;
    overflow-x: auto;
}

#topics_list *{
    box-sizing: border-box;
}

.status.OneTimeVisibleYes{
    border: 1px solid var(--borderOneTimeVisibleYes);
}

.question.OneTimeVisibleYes:hover{
    outline: 1px solid var(--borderOneTimeVisibleYes);
}
.status.OneTimeVisibleNot{
    border: 1px solid var(--borderOneTimeVisibleNot);
}
.question.OneTimeVisibleNot:hover{
    
    outline: 1px solid var(--borderOneTimeVisibleNot);
}
.topic{
    
}
#enviar{
    background-color: #2f452b;
    color: #fff;
    padding:10px;
    border-style: none;
    cursor: pointer;
}
#enviar:hover{
    background-color: #5e8856;
}
#buttons{
    text-align: right;
}


/* RANGE */

.coolForm label{
    display: block;
    margin: 30px 0;
    font-weight: bold;
    font-family: Verdana, Arial;
}
.coolForm input[type=range]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
    background-color: green;
}
.coolForm input[type=range]:focus{
    outline: none;
}
.coolForm input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid green;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;

}
.coolForm input[type=range]::-webkit-slider-thumb:after {
    content: "a";
}

#sub_label_age{
    margin: 3px 0;
    color: green;
}
